{{- $context := 0 | index . -}}
{{- $type := 1 | index . | lower -}}
{{- $inline := 2 | index . | default false -}}
{{- $data := 3 | index . | default dict -}}
{{- $class := 4 | index . | default slice -}}

{{- $data = $type | dict "type" | merge $data -}}
{{- $data = $inline | string | dict "inline" | merge $data -}}

{{- $classes := slice -}}
{{- $classes = $classes | append "gw2-embed" -}}
{{- with $inline -}}
    {{- $classes = $classes | append "is-inline" -}}
{{- end -}}
{{- with $type | printf "is-%s" -}}
    {{- $classes = $classes | append . -}}
{{- end -}}
{{- with $class -}}
    {{- $classes = $classes | append . -}}
{{- end -}}

{{- with "name" | index $data -}}
    {{- if $type | eq "effect" -}}
        {{- $data = . | dict "id" | merge $data -}}
    {{- end -}}

    {{- if $type | eq "item" -}}
        {{- $data = . | slice $context | partial "functions/gw2-item-to-id.integer" | dict "id" | merge $data -}}
    {{- end -}}

    {{- if $type | eq "profession" -}}
        {{- $data = . | slice $context | partial "functions/gw2-profession-to-id.string" | dict "id" | merge $data -}}
        {{- with . | slice $context | partial "functions/gw2-profession-to-elite.integer" -}}
            {{- $data = . | dict "elite" | merge $data -}}
        {{- end -}}
    {{- end -}}

    {{- if $type | eq "skill" -}}
        {{- $data = . | slice $context | partial "functions/gw2-skill-to-id.integer" | dict "id" | merge $data -}}
    {{- end -}}

    {{- if $type | eq "specialization" -}}
        {{- $data = . | slice $context | partial "functions/gw2-specialization-to-id.integer" | dict "id" | merge $data -}}
    {{- end -}}

    {{- if $type | eq "trait" -}}
        {{- $data = . | slice $context | partial "functions/gw2-trait-to-id.integer" | dict "id" | merge $data -}}
    {{- end -}}

    {{- if $type | eq "traitline" -}}
        {{- $data = . | slice $context | partial "functions/gw2-specialization-to-id.integer" | dict "id" | merge $data -}}
    {{- end -}}

    {{- if "id" | index $data | not -}}
        {{- warnf "Unable to find %s name: %s" $type . -}}
    {{- end -}}
{{- end -}}

{{- if "text" | index $data | not -}}
    {{- $data = "name" | index $data | dict "text" | merge $data -}}

    {{- if $type | eq "skill" -}}
        {{- $data = "id" | index $data | slice $context | partial "functions/gw2-skill-to-name.string" | dict "text" | merge $data -}}
    {{- end -}}
{{- end -}}

{{- with "enrichment-names" | index $data -}}
    {{- $enrichments := slice -}}
    {{- range split . "," -}}
        {{- $id := . -}}
        {{- if $id | string | eq $id -}}
            {{- $id = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
        {{- end -}}
        {{- $enrichments = $enrichments | append $id -}}
    {{- end -}}
    {{- $data = delimit $enrichments "," | dict "enrichments" | merge $data -}}
{{- end -}}

{{- with "infusion-names" | index $data -}}
    {{- $infusions := slice -}}
    {{- range split . "," -}}
        {{- $id := . -}}
        {{- if $id | string | eq $id -}}
            {{- $id = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
        {{- end -}}
        {{- $infusions = $infusions | append $id -}}
    {{- end -}}
    {{- $data = delimit $infusions "," | dict "infusions" | merge $data -}}
{{- end -}}

{{- with "upgrade-names" | index $data -}}
    {{- $upgrades := slice -}}
    {{- range split . "," -}}
        {{- $id := . -}}
        {{- if $id | string | eq $id -}}
            {{- $id = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
        {{- end -}}
        {{- $upgrades = $upgrades | append $id -}}
    {{- end -}}
    {{- $data = delimit $upgrades "," | dict "upgrades" | merge $data -}}
{{- end -}}

{{- $link := "" -}}
{{- if "link" | index $data | not -}}
    {{- with "id" | index $data -}}
        {{- $link = . | slice $context $type | partial "functions/gw2-wiki-link.string" -}}
    {{- end -}}
{{- end -}}

{{- $blocklist := slice "name" "enrichment-names" "infusion-names" "upgrade-names" -}}
{{- $attributes := dict -}}
{{- $attributes = delimit $classes " " | dict "class" | merge $attributes -}}
{{- range $key, $value := $data -}}
    {{- if $key | in $blocklist | not -}}
        {{- $attribute := $key | printf "data-embed-%s" -}}
        {{- $attributes = $value | string | dict $attribute | merge $attributes -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_partials_elements__embed_class__" -}}
    {{- . | printf "gw2-embed-%s" -}}
{{- end -}}

{{- with $data -}}
    {{- $specializations := slice $context | partialCached "apis/gw2-get-specializations.dict" -}}

    {{- with "id" | index . -}}
        {{- . | slice $context $type | partial "functions/gw2-preload-store.void" -}}

        {{- if $type | eq "specialization" -}}
            {{- with . | string | index $specializations -}}
                {{- range "minor_traits" | index . -}}
                    {{- . | slice $context "trait" | partial "functions/gw2-preload-store.void" -}}
                {{- end -}}
                {{- range "major_traits" | index . -}}
                    {{- . | slice $context "trait" | partial "functions/gw2-preload-store.void" -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}

        {{- if $type | eq "traitline" -}}
            {{- with . | string | index $specializations -}}
                {{- range "minor_traits" | index . -}}
                    {{- . | slice $context "trait" | partial "functions/gw2-preload-store.void" -}}
                {{- end -}}
                {{- range "major_traits" | index . -}}
                    {{- . | slice $context "trait" | partial "functions/gw2-preload-store.void" -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- with "stat" | index . -}}
        {{- . | slice $context "itemstat" | partial "functions/gw2-preload-store.void" -}}
    {{- end -}}

    {{- with "elite" | index . -}}
        {{- . | slice $context "specialization" | partial "functions/gw2-preload-store.void" -}}
    {{- end -}}
{{- end -}}

{{- if $inline -}}
    <span
        {{ range $key, $value := $attributes }}
            {{ $value | htmlEscape | printf "%s=%q" $key | safeHTMLAttr }}
        {{ end }}
    >
        <span
            class="{{ template "__rfgames_partials_elements__embed_class__" "container" }} {{ template "__rfgames_partials_elements__embed_class__" $type }}"
        >
            {{- if "disable-icon" | index $data | not -}}
                <span
                    class="{{ template "__rfgames_partials_elements__embed_class__" "icon" }}"
                ></span>
            {{- end -}}
            {{- if "disable-text" | index $data | not -}}
                <span
                    class="{{ template "__rfgames_partials_elements__embed_class__" "text" }}"
                >
                    {{- if "disable-text-link" | index $data | not -}}
                        {{- with "link" | index $data | default $link -}}
                            <a
                                class="{{ template "__rfgames_partials_elements__embed_class__" "link" }}"
                                href="{{ . }}"
                            >{{ "text" | index $data }}</a>
                        {{- else -}}
                            {{ "text" | index $data }}
                        {{- end -}}
                    {{- else -}}
                        {{ "text" | index $data }}
                    {{- end -}}
                </span>
            {{- end -}}
        </span>
    </span>
{{- else -}}
    <div
        {{ range $key, $value := $attributes }}
            {{ $value | htmlEscape | printf "%s=%q" $key | safeHTMLAttr }}
        {{ end }}
    >
        <div
            class="{{ template "__rfgames_partials_elements__embed_class__" "container" }} {{ template "__rfgames_partials_elements__embed_class__" $type }}"
        >
            {{- if "disable-icon" | index $data | not -}}
                <div
                    class="{{ template "__rfgames_partials_elements__embed_class__" "icon" }}"
                ></div>
            {{- end -}}
            {{- if "disable-text" | index $data | not -}}
                <div
                    class="{{ template "__rfgames_partials_elements__embed_class__" "text" }}"
                >
                    {{- if "disable-text-link" | index $data | not -}}
                        {{- with "link" | index $data | default $link -}}
                            <a
                                class="{{ template "__rfgames_partials_elements__embed_class__" "link" }}"
                                href="{{ . }}"
                            >{{ "text" | index $data }}</a>
                        {{- else -}}
                            {{ "text" | index $data }}
                        {{- end -}}
                    {{- else -}}
                        {{ "text" | index $data }}
                    {{- end -}}
                </div>
            {{- end -}}
        </div>
    </div>
{{- end -}}
