---
title: About

menu:
    nav:
        weight: 10

header:
    title: Stop At Nothing
    subtitle: About &amp; Members
---

<div class="section">
    <h4 class="title">Stop At Nothing</h4>
    <p>Stop At Nothing [Rush] is a NA SEA fight-focused WvW guild in <a href="https://guildwars2.com">Guild Wars 2</a>.</p>
</div>

<div class="section">
    <h4 class="title">Our Visions</h4>
    <ul>
        <li>We are focusing WvW fights.</li>
        <li>We understand all our professions, builds, gears, roles, and compositions.</li>
        <li>We trust all our members.</li>
        <li>We want all members are able to command squad, call skills, and report status.</li>
        <li>We have high expectations of all our member, but support them all as much as possible.</li>
        <li>We love active and challenge ourself, even fight outnumbered.</li>
        <li>We play hard, but play fun.</li>
    </ul>
</div>

<div class="section">
    <h4 class="title">Our Activities</h4>
    <p>We run WvW squad on weekends regularly in SEA (9PM-11PM GMT+8) and occasionnaly on weekdays.</p>
    <p>You have to focus during our runs. We have less and short regular runs because of it's high-intensity and want to leave rooms for other aspects of game and real life. However, we might have casual runs and guild missions on weekdays.</p>
    <p>Though we expect our members with high requirements, feel free to join our squad and Discord as we run public and open squads mostly. You can apply to join us after you feel you have same goals and visions with us.</p>
</div>

<div class="section">
    <h4 class="title">Our Members</h4>

    <div class="member-list">
        {{% includes/member-list %}}
    </div>
</div>

<div class="section">
    <h4 class="title">Contact Us</h4>
    <div class="contact-form">
        {{% includes/contact-form %}}
    </div>
</div>
