{{- $armorParts := slice "head" "shoulders" "coat" "gloves" "leggings" "boots" -}}
{{- $armorRuneCounts := dict -}}

{{- $build := .Page.Params.build -}}

{{- $consumables := $build.consumables -}}
{{- $equipments := $build.equipments -}}
{{- $skills := $build.skills -}}
{{- $specializations := $build.specializations -}}
{{- $template := $build.template -}}

{{- range $armorParts -}}
    {{- $armorItem := . | index $equipments -}}
    {{- $armorRuneItem := "rune" | index $armorItem -}}
    {{- with "id" | index $armorRuneItem | string -}}
        {{- $armorRuneCounts = . | index $armorRuneCounts | default 0 | add 1 | dict . | merge $armorRuneCounts -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_item_embed__" -}}
    {{- $ids := slice -}}
    {{- $items := dict -}}

    {{- range . -}}
        {{- $id := "id" | index . | string -}}
        {{- $infusions := "infusions" | index . -}}
        {{- $skin := "skin" | index . | string -}}
        {{- $stat := "stat" | index . | string -}}
        {{- $upgrades := "upgrades" | index . -}}
        {{- $upgradeCount := "upgradeCount" | index . -}}

        {{- $ids = $ids | append $id -}}
        {{- $items = slice $id $infusions $skin $stat $upgrades $upgradeCount | dict $id | merge $items -}}
    {{- end -}}

    {{- $data := dict -}}
    {{- $data = delimit $ids "," | dict "ids" | merge $data -}}
    {{- range $items -}}
        {{- $infusionIds := slice -}}
        {{- $upgradeIds := slice -}}

        {{- $id := 0 | index . -}}
        {{- $infusions := 1 | index . -}}
        {{- $skin := 2 | index . -}}
        {{- $stat := 3 | index . -}}
        {{- $upgrades := 4 | index . -}}
        {{- $upgradeCount := 5 | index . -}}

        {{- with $infusions -}}
            {{- range . -}}
                {{- with . -}}
                    {{- $infusionId := "id" | index . -}}

                    {{- if $infusionId | int | ne -1 -}}
                        {{- $infusionIds = $infusionIds | append $infusionId -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}

            {{- $data = delimit $infusionIds "," | dict (printf "%s-infusions" $id) | merge $data -}}
        {{- end -}}
        {{- with $skin -}}
            {{- $data = . | dict (printf "%s-skin" $id) | merge $data -}}
        {{- end -}}
        {{- with $stat -}}
            {{- $data = . | dict (printf "%s-stat" $id) | merge $data -}}
        {{- end -}}
        {{- with $upgrades -}}
            {{- range . -}}
                {{- with . -}}
                    {{- $upgradeId := "id" | index . -}}

                    {{- if $upgradeId | int | ne -1 -}}
                        {{- $upgradeIds = $upgradeIds | append $upgradeId -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}

            {{- $data = delimit $upgradeIds "," | dict (printf "%s-upgrades" $id) | merge $data -}}
        {{- end -}}
        {{- with $upgradeCount -}}
            {{- $data = replace ($upgradeCount | jsonify) "\"" "" | dict (printf "%s-upgrade-count" $id) | merge $data -}}
        {{- end -}}
        {{ if $id | int | eq -1 }}
            {{- $data = dict "blank-text" "" | merge $data -}}
        {{ end }}
    {{- end -}}

    {{- $data | slice "items" | partial "elements/embed.html" -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_skills_embed__" -}}
    {{- $ids := slice -}}
    {{- $skills := dict -}}

    {{- range . -}}
        {{- $id := "id" | index . | string -}}
        {{- $ids = $ids | append $id -}}
    {{- end -}}

    {{- $data := delimit $ids "," | dict "ids" -}}

    {{- $data | slice "skills" | partial "elements/embed.html" -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_specializations_embed__" -}}
    {{- $ids := slice -}}
    {{- $specializations := dict -}}

    {{- range . -}}
        {{- $id := "id" | index . | string -}}
        {{- $traits := "traits" | index . -}}

        {{- $ids = $ids | append $id -}}
        {{- $specializations = slice $id $traits | dict $id | merge $specializations -}}
    {{- end -}}

    {{- $data := dict -}}
    {{- $data = delimit $ids "," | dict "ids" | merge $data -}}
    {{- range $specializations -}}
        {{- $id := 0 | index . -}}
        {{- $traits := 1 | index . -}}

        {{- $data = delimit $traits "," | dict (printf "%s-traits" $id) | merge $data -}}
    {{- end -}}

    {{ $data | slice "specializations" | partial "elements/embed.html" }}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_item__" -}}
    {{- $styles := 0 | index . -}}
    {{- $item := 1 | index . -}}
    {{- $upgrade := 2 | index . -}}
    {{- $infusion := 3 | index . -}}

    {{- $classes := slice -}}
    {{- $classes = $classes | append "build-card-item" -}}
    {{- $classes = $classes | append "is-item" -}}
    {{- $classes = $classes | append $styles -}}
    {{- $classes = $classes | append "has-name" -}}
    {{- if $upgrade -}}
        {{- $classes = $classes | append "has-upgrade" -}}
    {{- end -}}
    {{- if $infusion -}}
        {{- $classes = $classes | append "has-infusion" -}}
    {{- end -}}

    <div class="{{ delimit $classes " " }}">
        {{ template "__rfgames_shortcode_includes__build_item_embed__" slice $item }}
        {{- with $item -}}
            {{- $itemId := "id" | index . -}}
            {{- $itemName := "name" | index . -}}
            {{- $itemWiki := "wiki" | index . -}}

            <a
                class="build-card-name"
                data-wiki-link="{{ slice "item" $itemId $itemName $itemWiki | partial "functions/gw2-wiki-link.string" }}"
                href="#"
            >{{ $itemName }}</a>
        {{- end -}}
        {{- with $upgrade -}}
            {{- $upgradeId := "id" | index . -}}
            {{- $upgradeName := "name" | index . -}}
            {{- $upgradeWiki := "wiki" | index . -}}

            {{- $upgradeItem := dict "id" $upgradeId -}}

            <div class="build-card-upgrade">
                {{ template "__rfgames_shortcode_includes__build_item_embed__" slice $upgradeItem }}
                <a
                    class="build-card-upgrade-name"
                    data-wiki-link="{{ slice "item" $upgradeId $upgradeName $upgradeWiki | partial "functions/gw2-wiki-link.string" }}"
                    href="#"
                >{{ $upgradeName }}</a>
            </div>
        {{- end -}}
        {{- with $infusion -}}
            {{- $infusionId := "id" | index . -}}
            {{- $infusionName := "name" | index . -}}
            {{- $infusionWiki := "wiki" | index . -}}

            {{- $infusionItem := dict "id" $infusionId -}}

            <div class="build-card-infusion">
                {{ template "__rfgames_shortcode_includes__build_item_embed__" slice $infusionItem }}
                <a
                    class="build-card-infusion-name"
                    data-wiki-link="{{ slice "item" $infusionId $infusionName $infusionWiki | partial "functions/gw2-wiki-link.string" }}"
                    href="#"
                >{{ $infusionName }}</a>
            </div>
        {{- end -}}
    </div>
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_skill_item__" -}}
    {{- $styles := 0 | index . -}}
    {{- $skill := 1 | index . -}}

    {{- $classes := slice -}}
    {{- $classes = $classes | append "build-card-item" -}}
    {{- $classes = $classes | append $styles -}}
    {{- $classes = $classes | append "has-name" -}}

    <div class="{{ delimit $classes " " }}">
        {{ template "__rfgames_shortcode_includes__build_skills_embed__" slice $skill }}
        {{- with $skill -}}
            {{- $skillName := "name" | index . -}}

            <span class="build-card-name">{{ $skillName }}</span>
        {{- end -}}
    </div>
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_armor__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}
    {{- $armorRuneCounts := 2 | index . -}}

    {{- with $data -}}
        {{- $rune := "rune" | index . -}}
        {{- $infusion := "infusion" | index . -}}

        {{- $item := . -}}
        {{- $item = slice $infusion | dict "infusions" | merge $item -}}
        {{- $item = slice $rune | dict "upgrades" | merge $item -}}

        {{- $classes := printf "is-%s" $block | slice "is-armor" -}}

        {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $rune -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_weapon__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}

    {{- with $data -}}
        {{- $type := "type" | index . -}}

        {{- $weapon := "weapon" | index . -}}
        {{- $weapon1 := "weapon1" | index . -}}
        {{- $weapon2 := "weapon2" | index . -}}
        {{- $sigil1 := "sigil1" | index . -}}
        {{- $sigil2 := "sigil2" | index . -}}
        {{- $infusion1 := "infusion1" | index . -}}
        {{- $infusion2 := "infusion2" | index . -}}

        {{- if $type | eq "DualWield" -}}
            {{- with $weapon1 -}}
                {{- $item := . -}}
                {{- $item = slice $infusion1 | dict "infusions" | merge $item -}}
                {{- $item = slice $sigil1 | dict "upgrades" | merge $item -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-dual-wield" "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil1 -}}
            {{- end -}}

            {{- with $weapon2 -}}
                {{- $item := . -}}
                {{- $item = slice $infusion2 | dict "infusions" | merge $item -}}
                {{- $item = slice $sigil2 | dict "upgrades" | merge $item -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-dual-wield" "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil2 -}}
            {{- end -}}
        {{- end -}}
        {{- if $type | eq "MainHandOnly" -}}
            {{- with $weapon1 -}}
                {{- $item := . -}}
                {{- $item = slice $infusion1 | dict "infusions" | merge $item -}}
                {{- $item = slice $sigil1 | dict "upgrades" | merge $item -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-main-hand-only" "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil1 -}}
            {{- end -}}

            {{- with . -}}
                {{- $item := dict "id" -1 -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-main-hand-only" "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item -}}
            {{- end -}}
        {{- end -}}
        {{- if $type | eq "OffHandOnly" -}}
            {{- with . -}}
                {{- $item := dict "id" -1 -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-off-hand-only" "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item -}}
            {{- end -}}

            {{- with $weapon2 -}}
                {{- $item := . -}}
                {{- $item = slice $infusion2 | dict "infusions" | merge $item -}}
                {{- $item = slice $sigil2 | dict "upgrades" | merge $item -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-off-hand-only" "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil2 -}}
            {{- end -}}
        {{- end -}}
        {{- if $type | eq "TwoHand" -}}
            {{- with $weapon -}}
                {{- $item := . -}}
                {{- $item = slice $infusion1 $infusion2 | dict "infusions" | merge $item -}}
                {{- $item = slice $sigil1 $sigil2 | dict "upgrades" | merge $item -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-two-hand" "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil1 -}}
            {{- end -}}

            {{- with . -}}
                {{- $item := dict "id" -1 -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-two-hand" "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil2 -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_trinket__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}

    {{- with $data -}}
        {{- $infusion := "infusion" | index . -}}
        {{- $upgrade := "upgrade" | index . -}}

        {{- $infusions := "infusions" | index . -}}

        {{- with $infusion -}}
            {{- $infusions = $infusions | append . -}}
        {{- end -}}

        {{- $item := . -}}
        {{- $item = $infusions | dict "infusions" | merge $item -}}
        {{- $item = slice $upgrade | dict "upgrades" | merge $item -}}

        {{- $classes := printf "is-%s" $block | slice "is-trinket" -}}

        {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $upgrade -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_consumable__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}

    {{- with $data -}}
        {{- $item := . -}}

        {{- $classes := printf "is-%s" $block | slice "is-consumable" -}}

        {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_skill__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}

    {{- with $data -}}
        {{- $id := "id" | index . -}}
        {{- $name := "name" | index . -}}
        {{- $wiki := "wiki" | index . -}}

        {{- $data := dict -}}
        {{- $data = $id | dict "id" | merge $data -}}
        {{- $data = $name | dict "name" | merge $data -}}

        {{- $classes := printf "is-%s" $block | slice "is-skill" -}}

        {{- template "__rfgames_shortcode_includes__build_skill_item__" slice $classes $data -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_specialization__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}

    {{- with $data -}}
        {{- $id := "id" | index . -}}
        {{- $traits := "traits" | index . -}}

        {{- $data := dict "id" $id "traits" $traits -}}

        {{- template "__rfgames_shortcode_includes__build_specializations_embed__" slice $data -}}
    {{- end -}}
{{- end -}}

<div class="build-card is-template">
    <div class="build-card-content">
        <div
            class="build-card-template-code-container"
            data-chat-code="{{ slice "build" $template | partial "functions/gw2-chat-link.string" }}"
        >
            <span class="template-addon">Template</span>
            <span class="template-code" data-chat-code-target>Generating ...</span>
            <button class="template-copy" data-chat-code-copy>Copy</button>
        </div>
    </div>
</div>

<div class="build-card is-armors">
    <h5 class="title">Armors</h5>
    <div class="build-card-content">
        <div class="build-card-armor-container">
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "head" $equipments.head $armorRuneCounts) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "shoulders" $equipments.shoulders $armorRuneCounts) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "coat" $equipments.coat $armorRuneCounts) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "gloves" $equipments.gloves $armorRuneCounts) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "leggings" $equipments.leggings $armorRuneCounts) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "boots" $equipments.boots $armorRuneCounts) }}
        </div>
    </div>
</div>

<div class="build-card is-weapons">
    <h5 class="title">Weapons</h5>
    <div class="build-card-content">
        <div class="build-card-weapon-container">
            {{ template "__rfgames_shortcode_includes__build_equipment_weapon__" (slice "weapon1" $equipments.weapon1) }}
            <div class="gw2-embed-container">
                {{ range $equipments.weapon1.skills }}
                    {{ template "__rfgames_shortcode_includes__build_skill__" slice "weapon-skill" . }}
                {{ end }}
            </div>
        </div>
        <div class="build-card-weapon-container">
            {{ template "__rfgames_shortcode_includes__build_equipment_weapon__" (slice "weapon2" $equipments.weapon2) }}
            <div class="gw2-embed-container">
                {{ range $equipments.weapon2.skills }}
                    {{ template "__rfgames_shortcode_includes__build_skill__" slice "weapon-skill" . }}
                {{ end }}
            </div>
        </div>
    </div>
</div>

<div class="build-card is-trinkets">
    <h5 class="title">Trinkets</h5>
    <div class="build-card-content">
        <div class="build-card-trinket-container">
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "back" $equipments.back) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "accessory1" $equipments.accessory1) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "accessory2" $equipments.accessory2) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "amulet" $equipments.amulet) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "ring1" $equipments.ring1) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "ring2" $equipments.ring2) }}
        </div>
    </div>
</div>

<div class="build-card is-consumables">
    <h5 class="title">Consumables</h5>
    <div class="build-card-content">
        <div class="build-card-consumable-container">
            {{ template "__rfgames_shortcode_includes__build_consumable__" (slice "food" $consumables.food) }}
            {{ template "__rfgames_shortcode_includes__build_consumable__" (slice "utility" $consumables.utility) }}
        </div>
    </div>
</div>

<div class="build-card is-skills">
    <h5 class="title">Skills</h5>
    <div class="build-card-content">
        <div class="build-card-skill-container">
            <div class="gw2-embed-container">
                {{ template "__rfgames_shortcode_includes__build_skill__" slice "healing" $skills.healing }}
                {{ range $skills.utilities }}
                    {{ template "__rfgames_shortcode_includes__build_skill__" slice "utility" . }}
                {{ end }}
                {{ template "__rfgames_shortcode_includes__build_skill__" slice "elite" $skills.elite }}
            </div>
        </div>
    </div>
</div>

<div class="build-card is-specializations">
    <h5 class="title">Specializations</h5>
    <div class="build-card-content">
        <div class="build-card-specialization-container">
            {{ range $specializations }}
                {{ template "__rfgames_shortcode_includes__build_specialization__" slice "specialization" . }}
            {{ end }}
        </div>
    </div>
</div>
