{{- $armorParts := slice "head" "shoulders" "coat" "gloves" "leggings" "boots" -}}
{{- $armorRuneCounts := dict -}}

{{- $build := .Page.Params.build -}}

{{- $consumables := $build.consumables -}}
{{- $equipments := $build.equipments -}}
{{- $skills := $build.skills -}}
{{- $specializations := $build.specializations -}}
{{- $template := $build.template -}}

{{- range $armorParts -}}
    {{- $armorItem := . | index $equipments -}}
    {{- $armorRuneItem := "rune" | index $armorItem -}}
    {{- with "id" | index $armorRuneItem | string -}}
        {{- $armorRuneCounts = . | index $armorRuneCounts | default 0 | add 1 | dict . | merge $armorRuneCounts -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_template_code__" -}}
    {{- $legendCodes := dict "dragon" 13 "assassin" 14 "dwarf" 15 "demon" 16 "renegade" 17 "centaur" 18 -}}
    {{- $petCodes := dict -}}
    {{- $professionCodes := dict "guardian" 1 "warrior" 2 "engineer" 3 "ranger" 4 "thief" 5 "elementalist" 6 "mesmer" 7 "necromancer" 8 "revenant" 9 -}}
    {{- $skillCodes := dict -}}
    {{- $traitCodes := dict "top" 1 "middle" 2 "bottom" 3 -}}

    {{- $skillCodes = dict "14402" 166 | merge $skillCodes -}}
    {{- $skillCodes = dict "21815" 3881 | merge $skillCodes -}}
    {{- $skillCodes = dict "14389" 112 | merge $skillCodes -}}
    {{- $skillCodes = dict "14401" 167 | merge $skillCodes -}}
    {{- $skillCodes = dict "30189" 4850 | merge $skillCodes -}}
    {{- $skillCodes = dict "41100" 5959 | merge $skillCodes -}}
    {{- $skillCodes = dict "14409" 174 | merge $skillCodes -}}
    {{- $skillCodes = dict "14403" 168 | merge $skillCodes -}}
    {{- $skillCodes = dict "14575" 482 | merge $skillCodes -}}
    {{- $skillCodes = dict "14372" 106 | merge $skillCodes -}}
    {{- $skillCodes = dict "14412" 178 | merge $skillCodes -}}
    {{- $skillCodes = dict "14528" 429 | merge $skillCodes -}}
    {{- $skillCodes = dict "14407" 172 | merge $skillCodes -}}
    {{- $skillCodes = dict "14405" 170 | merge $skillCodes -}}
    {{- $skillCodes = dict "14408" 176 | merge $skillCodes -}}
    {{- $skillCodes = dict "14406" 171 | merge $skillCodes -}}
    {{- $skillCodes = dict "14516" 173 | merge $skillCodes -}}
    {{- $skillCodes = dict "14413" 179 | merge $skillCodes -}}
    {{- $skillCodes = dict "14392" 113 | merge $skillCodes -}}
    {{- $skillCodes = dict "14368" 105 | merge $skillCodes -}}
    {{- $skillCodes = dict "14502" 418 | merge $skillCodes -}}
    {{- $skillCodes = dict "14410" 175 | merge $skillCodes -}}
    {{- $skillCodes = dict "14404" 169 | merge $skillCodes -}}
    {{- $skillCodes = dict "14479" 317 | merge $skillCodes -}}
    {{- $skillCodes = dict "14388" 110 | merge $skillCodes -}}
    {{- $skillCodes = dict "14354" 10 | merge $skillCodes -}}
    {{- $skillCodes = dict "30258" 4823 | merge $skillCodes -}}
    {{- $skillCodes = dict "30074" 4828 | merge $skillCodes -}}
    {{- $skillCodes = dict "29613" 4769 | merge $skillCodes -}}
    {{- $skillCodes = dict "29941" 4804 | merge $skillCodes -}}
    {{- $skillCodes = dict "43123" 5671 | merge $skillCodes -}}
    {{- $skillCodes = dict "45380" 5904 | merge $skillCodes -}}
    {{- $skillCodes = dict "41919" 5738 | merge $skillCodes -}}
    {{- $skillCodes = dict "43745" 5750 | merge $skillCodes -}}
    {{- $skillCodes = dict "14419" 238 | merge $skillCodes -}}
    {{- $skillCodes = dict "14483" 380 | merge $skillCodes -}}
    {{- $skillCodes = dict "14355" 156 | merge $skillCodes -}}
    {{- $skillCodes = dict "30343" 4802 | merge $skillCodes -}}
    {{- $skillCodes = dict "45333" 5789 | merge $skillCodes -}}
    {{- $skillCodes = dict "9083" 127 | merge $skillCodes -}}
    {{- $skillCodes = dict "21664" 3878 | merge $skillCodes -}}
    {{- $skillCodes = dict "9102" 259 | merge $skillCodes -}}
    {{- $skillCodes = dict "9158" 312 | merge $skillCodes -}}
    {{- $skillCodes = dict "30025" 4796 | merge $skillCodes -}}
    {{- $skillCodes = dict "41714" 5963 | merge $skillCodes -}}
    {{- $skillCodes = dict "9152" 309 | merge $skillCodes -}}
    {{- $skillCodes = dict "9084" 301 | merge $skillCodes -}}
    {{- $skillCodes = dict "9085" 138 | merge $skillCodes -}}
    {{- $skillCodes = dict "9153" 310 | merge $skillCodes -}}
    {{- $skillCodes = dict "9093" 254 | merge $skillCodes -}}
    {{- $skillCodes = dict "9241" 254 | merge $skillCodes -}}
    {{- $skillCodes = dict "9175" 329 | merge $skillCodes -}}
    {{- $skillCodes = dict "9248" 260 | merge $skillCodes -}}
    {{- $skillCodes = dict "9253" 331 | merge $skillCodes -}}
    {{- $skillCodes = dict "9125" 256 | merge $skillCodes -}}
    {{- $skillCodes = dict "9247" 327 | merge $skillCodes -}}
    {{- $skillCodes = dict "9246" 441 | merge $skillCodes -}}
    {{- $skillCodes = dict "9187" 332 | merge $skillCodes -}}
    {{- $skillCodes = dict "9128" 278 | merge $skillCodes -}}
    {{- $skillCodes = dict "9182" 330 | merge $skillCodes -}}
    {{- $skillCodes = dict "9242" 326 | merge $skillCodes -}}
    {{- $skillCodes = dict "9150" 326 | merge $skillCodes -}}
    {{- $skillCodes = dict "9163" 306 | merge $skillCodes -}}
    {{- $skillCodes = dict "9243" 306 | merge $skillCodes -}}
    {{- $skillCodes = dict "9151" 305 | merge $skillCodes -}}
    {{- $skillCodes = dict "9244" 305 | merge $skillCodes -}}
    {{- $skillCodes = dict "9245" 376 | merge $skillCodes -}}
    {{- $skillCodes = dict "9168" 328 | merge $skillCodes -}}
    {{- $skillCodes = dict "9251" 255 | merge $skillCodes -}}
    {{- $skillCodes = dict "30553" 4740 | merge $skillCodes -}}
    {{- $skillCodes = dict "30871" 4858 | merge $skillCodes -}}
    {{- $skillCodes = dict "30364" 4746 | merge $skillCodes -}}
    {{- $skillCodes = dict "29786" 4862 | merge $skillCodes -}}
    {{- $skillCodes = dict "46148" 5909 | merge $skillCodes -}}
    {{- $skillCodes = dict "45460" 5971 | merge $skillCodes -}}
    {{- $skillCodes = dict "40915" 5754 | merge $skillCodes -}}
    {{- $skillCodes = dict "44266" 5754 | merge $skillCodes -}}
    {{- $skillCodes = dict "44080" 5827 | merge $skillCodes -}}
    {{- $skillCodes = dict "29965" 4745 | merge $skillCodes -}}
    {{- $skillCodes = dict "9154" 311 | merge $skillCodes -}}
    {{- $skillCodes = dict "30461" 4721 | merge $skillCodes -}}
    {{- $skillCodes = dict "30273" 4789 | merge $skillCodes -}}
    {{- $skillCodes = dict "43357" 5656 | merge $skillCodes -}}
    {{- $skillCodes = dict "26937" 4572 | merge $skillCodes -}}
    {{- $skillCodes = dict "29148" 4572 | merge $skillCodes -}}
    {{- $skillCodes = dict "28219" 4572 | merge $skillCodes -}}
    {{- $skillCodes = dict "27220" 4572 | merge $skillCodes -}}
    {{- $skillCodes = dict "27372" 4572 | merge $skillCodes -}}
    {{- $skillCodes = dict "56661" 4572 | merge $skillCodes -}}
    {{- $skillCodes = dict "45686" 4572 | merge $skillCodes -}}
    {{- $skillCodes = dict "27107" 4564 | merge $skillCodes -}}
    {{- $skillCodes = dict "29209" 4614 | merge $skillCodes -}}
    {{- $skillCodes = dict "28231" 4651 | merge $skillCodes -}}
    {{- $skillCodes = dict "26821" 4614 | merge $skillCodes -}}
    {{- $skillCodes = dict "29310" 4614 | merge $skillCodes -}}
    {{- $skillCodes = dict "27025" 4651 | merge $skillCodes -}}
    {{- $skillCodes = dict "29082" 4651 | merge $skillCodes -}}
    {{- $skillCodes = dict "27715" 4564 | merge $skillCodes -}}
    {{- $skillCodes = dict "29197" 4564 | merge $skillCodes -}}
    {{- $skillCodes = dict "27917" 4564 | merge $skillCodes -}}
    {{- $skillCodes = dict "31100" 4564 | merge $skillCodes -}}
    {{- $skillCodes = dict "27322" 4614 | merge $skillCodes -}}
    {{- $skillCodes = dict "27505" 4651 | merge $skillCodes -}}
    {{- $skillCodes = dict "26644" 4564 | merge $skillCodes -}}
    {{- $skillCodes = dict "28379" 4614 | merge $skillCodes -}}
    {{- $skillCodes = dict "27014" 4651 | merge $skillCodes -}}
    {{- $skillCodes = dict "26557" 4564 | merge $skillCodes -}}
    {{- $skillCodes = dict "56752" 4564 | merge $skillCodes -}}
    {{- $skillCodes = dict "28516" 4614 | merge $skillCodes -}}
    {{- $skillCodes = dict "56841" 4614 | merge $skillCodes -}}
    {{- $skillCodes = dict "26679" 4651 | merge $skillCodes -}}
    {{- $skillCodes = dict "56662" 4651 | merge $skillCodes -}}
    {{- $skillCodes = dict "41220" 4564 | merge $skillCodes -}}
    {{- $skillCodes = dict "42949" 4614 | merge $skillCodes -}}
    {{- $skillCodes = dict "40485" 4651 | merge $skillCodes -}}
    {{- $skillCodes = dict "28406" 4554 | merge $skillCodes -}}
    {{- $skillCodes = dict "31294" 4554 | merge $skillCodes -}}
    {{- $skillCodes = dict "27356" 4554 | merge $skillCodes -}}
    {{- $skillCodes = dict "29114" 4554 | merge $skillCodes -}}
    {{- $skillCodes = dict "28287" 4554 | merge $skillCodes -}}
    {{- $skillCodes = dict "27760" 4554 | merge $skillCodes -}}
    {{- $skillCodes = dict "27975" 4554 | merge $skillCodes -}}
    {{- $skillCodes = dict "56773" 4554 | merge $skillCodes -}}
    {{- $skillCodes = dict "45773" 4554 | merge $skillCodes -}}
    {{- $skillCodes = dict "21659" 3882 | merge $skillCodes -}}
    {{- $skillCodes = dict "30881" 3882 | merge $skillCodes -}}
    {{- $skillCodes = dict "5834" 276 | merge $skillCodes -}}
    {{- $skillCodes = dict "5857" 296 | merge $skillCodes -}}
    {{- $skillCodes = dict "5802" 132 | merge $skillCodes -}}
    {{- $skillCodes = dict "30357" 4825 | merge $skillCodes -}}
    {{- $skillCodes = dict "40507" 5717 | merge $skillCodes -}}
    {{- $skillCodes = dict "5812" 263 | merge $skillCodes -}}
    {{- $skillCodes = dict "5821" 257 | merge $skillCodes -}}
    {{- $skillCodes = dict "5860" 396 | merge $skillCodes -}}
    {{- $skillCodes = dict "5933" 405 | merge $skillCodes -}}
    {{- $skillCodes = dict "5968" 353 | merge $skillCodes -}}
    {{- $skillCodes = dict "5861" 350 | merge $skillCodes -}}
    {{- $skillCodes = dict "5862" 351 | merge $skillCodes -}}
    {{- $skillCodes = dict "5836" 290 | merge $skillCodes -}}
    {{- $skillCodes = dict "5927" 403 | merge $skillCodes -}}
    {{- $skillCodes = dict "5805" 134 | merge $skillCodes -}}
    {{- $skillCodes = dict "6020" 134 | merge $skillCodes -}}
    {{- $skillCodes = dict "5837" 291 | merge $skillCodes -}}
    {{- $skillCodes = dict "5811" 136 | merge $skillCodes -}}
    {{- $skillCodes = dict "29991" 136 | merge $skillCodes -}}
    {{- $skillCodes = dict "5818" 163 | merge $skillCodes -}}
    {{- $skillCodes = dict "5910" 397 | merge $skillCodes -}}
    {{- $skillCodes = dict "29522" 397 | merge $skillCodes -}}
    {{- $skillCodes = dict "5912" 398 | merge $skillCodes -}}
    {{- $skillCodes = dict "5825" 275 | merge $skillCodes -}}
    {{- $skillCodes = dict "30828" 275 | merge $skillCodes -}}
    {{- $skillCodes = dict "6161" 294 | merge $skillCodes -}}
    {{- $skillCodes = dict "30337" 294 | merge $skillCodes -}}
    {{- $skillCodes = dict "5838" 292 | merge $skillCodes -}}
    {{- $skillCodes = dict "5904" 394 | merge $skillCodes -}}
    {{- $skillCodes = dict "5865" 352 | merge $skillCodes -}}
    {{- $skillCodes = dict "29591" 352 | merge $skillCodes -}}
    {{- $skillCodes = dict "31248" 4903 | merge $skillCodes -}}
    {{- $skillCodes = dict "30101" 4878 | merge $skillCodes -}}
    {{- $skillCodes = dict "29739" 4812 | merge $skillCodes -}}
    {{- $skillCodes = dict "29921" 4782 | merge $skillCodes -}}
    {{- $skillCodes = dict "44646" 5685 | merge $skillCodes -}}
    {{- $skillCodes = dict "42842" 5719 | merge $skillCodes -}}
    {{- $skillCodes = dict "43739" 5861 | merge $skillCodes -}}
    {{- $skillCodes = dict "41218" 5679 | merge $skillCodes -}}
    {{- $skillCodes = dict "30800" 4857 | merge $skillCodes -}}
    {{- $skillCodes = dict "5832" 274 | merge $skillCodes -}}
    {{- $skillCodes = dict "20451" 274 | merge $skillCodes -}}
    {{- $skillCodes = dict "5868" 393 | merge $skillCodes -}}
    {{- $skillCodes = dict "30815" 4739 | merge $skillCodes -}}
    {{- $skillCodes = dict "42009" 5616 | merge $skillCodes -}}
    {{- $skillCodes = dict "31914" 121 | merge $skillCodes -}}
    {{- $skillCodes = dict "12489" 161 | merge $skillCodes -}}
    {{- $skillCodes = dict "12483" 120 | merge $skillCodes -}}
    {{- $skillCodes = dict "21773" 3877 | merge $skillCodes -}}
    {{- $skillCodes = dict "31407" 4873 | merge $skillCodes -}}
    {{- $skillCodes = dict "44948" 5934 | merge $skillCodes -}}
    {{- $skillCodes = dict "12632" 183 | merge $skillCodes -}}
    {{- $skillCodes = dict "12631" 187 | merge $skillCodes -}}
    {{- $skillCodes = dict "34309" 180 | merge $skillCodes -}}
    {{- $skillCodes = dict "12633" 421 | merge $skillCodes -}}
    {{- $skillCodes = dict "12499" 190 | merge $skillCodes -}}
    {{- $skillCodes = dict "12497" 188 | merge $skillCodes -}}
    {{- $skillCodes = dict "12492" 181 | merge $skillCodes -}}
    {{- $skillCodes = dict "12494" 184 | merge $skillCodes -}}
    {{- $skillCodes = dict "12501" 193 | merge $skillCodes -}}
    {{- $skillCodes = dict "12550" 406 | merge $skillCodes -}}
    {{- $skillCodes = dict "12537" 191 | merge $skillCodes -}}
    {{- $skillCodes = dict "12502" 194 | merge $skillCodes -}}
    {{- $skillCodes = dict "12500" 427 | merge $skillCodes -}}
    {{- $skillCodes = dict "12542" 154 | merge $skillCodes -}}
    {{- $skillCodes = dict "12491" 428 | merge $skillCodes -}}
    {{- $skillCodes = dict "12476" 27 | merge $skillCodes -}}
    {{- $skillCodes = dict "12495" 185 | merge $skillCodes -}}
    {{- $skillCodes = dict "12493" 182 | merge $skillCodes -}}
    {{- $skillCodes = dict "12498" 189 | merge $skillCodes -}}
    {{- $skillCodes = dict "12496" 186 | merge $skillCodes -}}
    {{- $skillCodes = dict "31322" 4821 | merge $skillCodes -}}
    {{- $skillCodes = dict "31746" 4838 | merge $skillCodes -}}
    {{- $skillCodes = dict "31582" 4792 | merge $skillCodes -}}
    {{- $skillCodes = dict "30238" 4776 | merge $skillCodes -}}
    {{- $skillCodes = dict "45789" 5882 | merge $skillCodes -}}
    {{- $skillCodes = dict "45142" 5889 | merge $skillCodes -}}
    {{- $skillCodes = dict "45970" 5684 | merge $skillCodes -}}
    {{- $skillCodes = dict "40498" 5865 | merge $skillCodes -}}
    {{- $skillCodes = dict "12516" 237 | merge $skillCodes -}}
    {{- $skillCodes = dict "12580" 192 | merge $skillCodes -}}
    {{- $skillCodes = dict "12569" 407 | merge $skillCodes -}}
    {{- $skillCodes = dict "31677" 4788 | merge $skillCodes -}}
    {{- $skillCodes = dict "45717" 5678 | merge $skillCodes -}}
    {{- $skillCodes = dict "13027" 268 | merge $skillCodes -}}
    {{- $skillCodes = dict "13050" 133 | merge $skillCodes -}}
    {{- $skillCodes = dict "21778" 3876 | merge $skillCodes -}}
    {{- $skillCodes = dict "13021" 266 | merge $skillCodes -}}
    {{- $skillCodes = dict "30400" 4756 | merge $skillCodes -}}
    {{- $skillCodes = dict "45088" 5617 | merge $skillCodes -}}
    {{- $skillCodes = dict "13046" 307 | merge $skillCodes -}}
    {{- $skillCodes = dict "13044" 308 | merge $skillCodes -}}
    {{- $skillCodes = dict "13028" 269 | merge $skillCodes -}}
    {{- $skillCodes = dict "13093" 341 | merge $skillCodes -}}
    {{- $skillCodes = dict "13066" 347 | merge $skillCodes -}}
    {{- $skillCodes = dict "13096" 346 | merge $skillCodes -}}
    {{- $skillCodes = dict "13064" 344 | merge $skillCodes -}}
    {{- $skillCodes = dict "13057" 340 | merge $skillCodes -}}
    {{- $skillCodes = dict "13056" 339 | merge $skillCodes -}}
    {{- $skillCodes = dict "13038" 283 | merge $skillCodes -}}
    {{- $skillCodes = dict "13026" 267 | merge $skillCodes -}}
    {{- $skillCodes = dict "13035" 281 | merge $skillCodes -}}
    {{- $skillCodes = dict "13020" 137 | merge $skillCodes -}}
    {{- $skillCodes = dict "13117" 443 | merge $skillCodes -}}
    {{- $skillCodes = dict "13002" 88 | merge $skillCodes -}}
    {{- $skillCodes = dict "13062" 343 | merge $skillCodes -}}
    {{- $skillCodes = dict "13060" 342 | merge $skillCodes -}}
    {{- $skillCodes = dict "13055" 318 | merge $skillCodes -}}
    {{- $skillCodes = dict "13065" 345 | merge $skillCodes -}}
    {{- $skillCodes = dict "13037" 303 | merge $skillCodes -}}
    {{- $skillCodes = dict "30661" 4790 | merge $skillCodes -}}
    {{- $skillCodes = dict "30568" 4727 | merge $skillCodes -}}
    {{- $skillCodes = dict "30868" 4784 | merge $skillCodes -}}
    {{- $skillCodes = dict "30369" 4905 | merge $skillCodes -}}
    {{- $skillCodes = dict "41205" 5860 | merge $skillCodes -}}
    {{- $skillCodes = dict "41372" 5920 | merge $skillCodes -}}
    {{- $skillCodes = dict "41158" 5804 | merge $skillCodes -}}
    {{- $skillCodes = dict "46335" 5663 | merge $skillCodes -}}
    {{- $skillCodes = dict "13132" 270 | merge $skillCodes -}}
    {{- $skillCodes = dict "13085" 415 | merge $skillCodes -}}
    {{- $skillCodes = dict "13082" 40 | merge $skillCodes -}}
    {{- $skillCodes = dict "29516" 4846 | merge $skillCodes -}}
    {{- $skillCodes = dict "45508" 5693 | merge $skillCodes -}}
    {{- $skillCodes = dict "21656" 3879 | merge $skillCodes -}}
    {{- $skillCodes = dict "5507" 117 | merge $skillCodes -}}
    {{- $skillCodes = dict "5569" 279 | merge $skillCodes -}}
    {{- $skillCodes = dict "5503" 116 | merge $skillCodes -}}
    {{- $skillCodes = dict "29535" 4807 | merge $skillCodes -}}
    {{- $skillCodes = dict "44239" 5632 | merge $skillCodes -}}
    {{- $skillCodes = dict "5539" 336 | merge $skillCodes -}}
    {{- $skillCodes = dict "5635" 333 | merge $skillCodes -}}
    {{- $skillCodes = dict "5641" 246 | merge $skillCodes -}}
    {{- $skillCodes = dict "5703" 246 | merge $skillCodes -}}
    {{- $skillCodes = dict "5638" 334 | merge $skillCodes -}}
    {{- $skillCodes = dict "22572" 334 | merge $skillCodes -}}
    {{- $skillCodes = dict "5639" 335 | merge $skillCodes -}}
    {{- $skillCodes = dict "5535" 142 | merge $skillCodes -}}
    {{- $skillCodes = dict "5546" 230 | merge $skillCodes -}}
    {{- $skillCodes = dict "5540" 202 | merge $skillCodes -}}
    {{- $skillCodes = dict "5567" 261 | merge $skillCodes -}}
    {{- $skillCodes = dict "5624" 322 | merge $skillCodes -}}
    {{- $skillCodes = dict "5506" 115 | merge $skillCodes -}}
    {{- $skillCodes = dict "5502" 114 | merge $skillCodes -}}
    {{- $skillCodes = dict "5573" 285 | merge $skillCodes -}}
    {{- $skillCodes = dict "5734" 446 | merge $skillCodes -}}
    {{- $skillCodes = dict "5536" 144 | merge $skillCodes -}}
    {{- $skillCodes = dict "5554" 235 | merge $skillCodes -}}
    {{- $skillCodes = dict "15795" 235 | merge $skillCodes -}}
    {{- $skillCodes = dict "5572" 284 | merge $skillCodes -}}
    {{- $skillCodes = dict "5571" 145 | merge $skillCodes -}}
    {{- $skillCodes = dict "5542" 203 | merge $skillCodes -}}
    {{- $skillCodes = dict "5570" 143 | merge $skillCodes -}}
    {{- $skillCodes = dict "30432" 4724 | merge $skillCodes -}}
    {{- $skillCodes = dict "30047" 4726 | merge $skillCodes -}}
    {{- $skillCodes = dict "30662" 4803 | merge $skillCodes -}}
    {{- $skillCodes = dict "29948" 4773 | merge $skillCodes -}}
    {{- $skillCodes = dict "29844" 4773 | merge $skillCodes -}}
    {{- $skillCodes = dict "40183" 5941 | merge $skillCodes -}}
    {{- $skillCodes = dict "44926" 5851 | merge $skillCodes -}}
    {{- $skillCodes = dict "45746" 5621 | merge $skillCodes -}}
    {{- $skillCodes = dict "44612" 5755 | merge $skillCodes -}}
    {{- $skillCodes = dict "5516" 151 | merge $skillCodes -}}
    {{- $skillCodes = dict "5666" 38 | merge $skillCodes -}}
    {{- $skillCodes = dict "5534" 150 | merge $skillCodes -}}
    {{- $skillCodes = dict "29968" 4761 | merge $skillCodes -}}
    {{- $skillCodes = dict "43638" 5906 | merge $skillCodes -}}
    {{- $skillCodes = dict "10548" 162 | merge $skillCodes -}}
    {{- $skillCodes = dict "21762" 3880 | merge $skillCodes -}}
    {{- $skillCodes = dict "10547" 155 | merge $skillCodes -}}
    {{- $skillCodes = dict "10527" 18 | merge $skillCodes -}}
    {{- $skillCodes = dict "10670" 18 | merge $skillCodes -}}
    {{- $skillCodes = dict "30488" 4801 | merge $skillCodes -}}
    {{- $skillCodes = dict "43148" 5758 | merge $skillCodes -}}
    {{- $skillCodes = dict "10544" 128 | merge $skillCodes -}}
    {{- $skillCodes = dict "10689" 139 | merge $skillCodes -}}
    {{- $skillCodes = dict "10602" 304 | merge $skillCodes -}}
    {{- $skillCodes = dict "10606" 409 | merge $skillCodes -}}
    {{- $skillCodes = dict "10562" 245 | merge $skillCodes -}}
    {{- $skillCodes = dict "10622" 373 | merge $skillCodes -}}
    {{- $skillCodes = dict "10611" 367 | merge $skillCodes -}}
    {{- $skillCodes = dict "10612" 374 | merge $skillCodes -}}
    {{- $skillCodes = dict "10583" 250 | merge $skillCodes -}}
    {{- $skillCodes = dict "10620" 375 | merge $skillCodes -}}
    {{- $skillCodes = dict "10608" 364 | merge $skillCodes -}}
    {{- $skillCodes = dict "10685" 445 | merge $skillCodes -}}
    {{- $skillCodes = dict "10533" 118 | merge $skillCodes -}}
    {{- $skillCodes = dict "10541" 228 | merge $skillCodes -}}
    {{- $skillCodes = dict "10543" 302 | merge $skillCodes -}}
    {{- $skillCodes = dict "10589" 368 | merge $skillCodes -}}
    {{- $skillCodes = dict "10545" 371 | merge $skillCodes -}}
    {{- $skillCodes = dict "10671" 371 | merge $skillCodes -}}
    {{- $skillCodes = dict "10607" 320 | merge $skillCodes -}}
    {{- $skillCodes = dict "10672" 320 | merge $skillCodes -}}
    {{- $skillCodes = dict "10609" 372 | merge $skillCodes -}}
    {{- $skillCodes = dict "10673" 372 | merge $skillCodes -}}
    {{- $skillCodes = dict "10546" 129 | merge $skillCodes -}}
    {{- $skillCodes = dict "10674" 129 | merge $skillCodes -}}
    {{- $skillCodes = dict "29666" 4843 | merge $skillCodes -}}
    {{- $skillCodes = dict "30772" 4879 | merge $skillCodes -}}
    {{- $skillCodes = dict "30670" 4774 | merge $skillCodes -}}
    {{- $skillCodes = dict "29414" 4849 | merge $skillCodes -}}
    {{- $skillCodes = dict "42935" 5924 | merge $skillCodes -}}
    {{- $skillCodes = dict "42917" 5752 | merge $skillCodes -}}
    {{- $skillCodes = dict "41615" 5921 | merge $skillCodes -}}
    {{- $skillCodes = dict "40274" 5746 | merge $skillCodes -}}
    {{- $skillCodes = dict "10550" 378 | merge $skillCodes -}}
    {{- $skillCodes = dict "10549" 146 | merge $skillCodes -}}
    {{- $skillCodes = dict "10646" 149 | merge $skillCodes -}}
    {{- $skillCodes = dict "30105" 4867 | merge $skillCodes -}}
    {{- $skillCodes = dict "42355" 5984 | merge $skillCodes -}}
    {{- $skillCodes = dict "10176" 366 | merge $skillCodes -}}
    {{- $skillCodes = dict "10213" 365 | merge $skillCodes -}}
    {{- $skillCodes = dict "10177" 271 | merge $skillCodes -}}
    {{- $skillCodes = dict "21750" 3875 | merge $skillCodes -}}
    {{- $skillCodes = dict "30305" 4848 | merge $skillCodes -}}
    {{- $skillCodes = dict "40200" 5614 | merge $skillCodes -}}
    {{- $skillCodes = dict "10185" 280 | merge $skillCodes -}}
    {{- $skillCodes = dict "10200" 357 | merge $skillCodes -}}
    {{- $skillCodes = dict "10201" 358 | merge $skillCodes -}}
    {{- $skillCodes = dict "10302" 383 | merge $skillCodes -}}
    {{- $skillCodes = dict "10244" 388 | merge $skillCodes -}}
    {{- $skillCodes = dict "10237" 389 | merge $skillCodes -}}
    {{- $skillCodes = dict "10204" 359 | merge $skillCodes -}}
    {{- $skillCodes = dict "10211" 361 | merge $skillCodes -}}
    {{- $skillCodes = dict "10207" 360 | merge $skillCodes -}}
    {{- $skillCodes = dict "29578" 438 | merge $skillCodes -}}
    {{- $skillCodes = dict "10202" 363 | merge $skillCodes -}}
    {{- $skillCodes = dict "10203" 362 | merge $skillCodes -}}
    {{- $skillCodes = dict "10341" 390 | merge $skillCodes -}}
    {{- $skillCodes = dict "10267" 399 | merge $skillCodes -}}
    {{- $skillCodes = dict "10197" 356 | merge $skillCodes -}}
    {{- $skillCodes = dict "10232" 385 | merge $skillCodes -}}
    {{- $skillCodes = dict "10247" 386 | merge $skillCodes -}}
    {{- $skillCodes = dict "10236" 384 | merge $skillCodes -}}
    {{- $skillCodes = dict "10234" 387 | merge $skillCodes -}}
    {{- $skillCodes = dict "10187" 282 | merge $skillCodes -}}
    {{- $skillCodes = dict "30814" 4815 | merge $skillCodes -}}
    {{- $skillCodes = dict "30525" 4868 | merge $skillCodes -}}
    {{- $skillCodes = dict "29526" 4755 | merge $skillCodes -}}
    {{- $skillCodes = dict "29856" 4743 | merge $skillCodes -}}
    {{- $skillCodes = dict "41065" 5600 | merge $skillCodes -}}
    {{- $skillCodes = dict "45046" 5770 | merge $skillCodes -}}
    {{- $skillCodes = dict "42851" 5810 | merge $skillCodes -}}
    {{- $skillCodes = dict "43064" 5639 | merge $skillCodes -}}
    {{- $skillCodes = dict "10245" 410 | merge $skillCodes -}}
    {{- $skillCodes = dict "29519" 4845 | merge $skillCodes -}}
    {{- $skillCodes = dict "10311" 444 | merge $skillCodes -}}
    {{- $skillCodes = dict "10377" 444 | merge $skillCodes -}}
    {{- $skillCodes = dict "30359" 4787 | merge $skillCodes -}}
    {{- $skillCodes = dict "45449" 5958 | merge $skillCodes -}}
    {{- $skillCodes = dict "12320" 12 | merge $skillCodes -}}
    {{- $skillCodes = dict "12319" 2333 | merge $skillCodes -}}
    {{- $skillCodes = dict "12318" 9 | merge $skillCodes -}}
    {{- $skillCodes = dict "12323" 14 | merge $skillCodes -}}
    {{- $skillCodes = dict "12324" 369 | merge $skillCodes -}}
    {{- $skillCodes = dict "12325" 17 | merge $skillCodes -}}
    {{- $skillCodes = dict "12338" 8 | merge $skillCodes -}}
    {{- $skillCodes = dict "12339" 33 | merge $skillCodes -}}
    {{- $skillCodes = dict "12337" 4 | merge $skillCodes -}}
    {{- $skillCodes = dict "12343" 1 | merge $skillCodes -}}
    {{- $skillCodes = dict "12344" 456 | merge $skillCodes -}}
    {{- $skillCodes = dict "12340" 3939 | merge $skillCodes -}}
    {{- $skillCodes = dict "12360" 210 | merge $skillCodes -}}
    {{- $skillCodes = dict "12361" 324 | merge $skillCodes -}}
    {{- $skillCodes = dict "12362" 337 | merge $skillCodes -}}
    {{- $skillCodes = dict "12373" 7 | merge $skillCodes -}}
    {{- $skillCodes = dict "12363" 338 | merge $skillCodes -}}
    {{- $skillCodes = dict "12367" 349 | merge $skillCodes -}}
    {{- $skillCodes = dict "12387" 13 | merge $skillCodes -}}
    {{- $skillCodes = dict "12417" 2 | merge $skillCodes -}}
    {{- $skillCodes = dict "12385" 152 | merge $skillCodes -}}
    {{- $skillCodes = dict "12403" 31 | merge $skillCodes -}}
    {{- $skillCodes = dict "12401" 29 | merge $skillCodes -}}
    {{- $skillCodes = dict "12391" 20 | merge $skillCodes -}}
    {{- $skillCodes = dict "12440" 21 | merge $skillCodes -}}
    {{- $skillCodes = dict "12453" 28 | merge $skillCodes -}}
    {{- $skillCodes = dict "12456" 30 | merge $skillCodes -}}
    {{- $skillCodes = dict "12447" 23 | merge $skillCodes -}}
    {{- $skillCodes = dict "12450" 25 | merge $skillCodes -}}
    {{- $skillCodes = dict "12457" 37 | merge $skillCodes -}}

    {{- $template := slice 13 -}}

    {{- $legends := "legends" | index . -}}
    {{- $pets := "pets" | index . -}}
    {{- $profession := "profession" | index . | lower | index $professionCodes -}}
    {{- $skills := "skills" | index . -}}
    {{- $traits := "traits" | index . -}}

    {{- $template = $template | append $profession -}}
    {{- range $traits | first 3 -}}
        {{- $specializtion := 0 | index . -}}
        {{- $trait1 := 1 | index . | lower | index $traitCodes | default 0 -}}
        {{- $trait2 := 2 | index . | lower | index $traitCodes | default 0 -}}
        {{- $trait3 := 3 | index . | lower | index $traitCodes | default 0 -}}

        {{- $traitValue := $trait1 | add (mul $trait2 4) | add (mul $trait3 16) -}}

        {{- $template = $template | append $specializtion $traitValue -}}
    {{- end -}}
    {{- range $skills | first 5 -}}
        {{- $terrestrialSkill := 0 | index . | string | index $skillCodes | default 0 -}}
        {{- $aquaticSkill := 1 | index . | string | index $skillCodes | default 0 -}}

        {{- $template = $template | append (mod $terrestrialSkill 256) (div $terrestrialSkill 256) -}}
        {{- $template = $template | append (mod $aquaticSkill 256) (div $aquaticSkill 256) -}}
    {{- end -}}

    {{- if $profession | eq 4 | and $pets -}}
        {{- $terrestrialPet1 := 0 | index $pets -}}
        {{- $terrestrialPet2 := 1 | index $pets -}}
        {{- $aquaticPet1 := 2 | index $pets -}}
        {{- $aquaticPet2 := 3 | index $pets -}}

        {{- $template = $template | append $terrestrialPet1 $terrestrialPet2 $aquaticPet1 $aquaticPet2 -}}
        {{- $template = $template | append 0 0 0 0 0 0 0 0 0 0 0 0 -}}
    {{- end -}}

    {{- if $profession | eq 9 | and $legends -}}
        {{- $terrestrialLegend1 := 0 | index $legends | lower | index $legendCodes | default 0 -}}
        {{- $terrestrialLegend2 := 1 | index $legends | lower | index $legendCodes | default 0 -}}
        {{- $aquaticLegend1 := 2 | index $legends | lower | index $legendCodes | default 0 -}}
        {{- $aquaticLegend2 := 3 | index $legends | lower | index $legendCodes | default 0 -}}

        {{- $inactiveTerrestrialSkill1 = 4 | index $legends | string | index $skillCodes | default 0 -}}
        {{- $inactiveTerrestrialSkill2 = 5 | index $legends | string | index $skillCodes | default 0 -}}
        {{- $inactiveTerrestrialSkill3 = 6 | index $legends | string | index $skillCodes | default 0 -}}
        {{- $inactiveAquaticSkill1 = 6 | index $legends | string | index $skillCodes | default 0 -}}
        {{- $inactiveAquaticSkill2 = 8 | index $legends | string | index $skillCodes | default 0 -}}
        {{- $inactiveAquaticSkill3 = 9 | index $legends | string | index $skillCodes | default 0 -}}

        {{- $inactiveSkillValue1 := 0 | add (math.Pow $inactiveTerrestrialSkill1 2) | add (math.Pow $inactiveTerrestrialSkill2 0) -}}
        {{- $inactiveSkillValue2 := 0 | add (math.Pow $inactiveTerrestrialSkill3 2) | add (math.Pow $inactiveAquaticSkill1 0) -}}
        {{- $inactiveSkillValue3 := 0 | add (math.Pow $inactiveAquaticSkill2 2) | add (math.Pow $inactiveAquaticSkill3 0) -}}

        {{- $template = $template | append $terrestrialLegend1 $terrestrialLegend2 $aquaticLegend1 $aquaticLegend2 -}}
        {{- $template = $template | append $inactiveSkillValue1 $inactiveSkillValue2 $inactiveSkillValue3 -}}
    {{- end -}}

    {{- if and ($profession | ne 4) ($profession | ne 9) -}}
        {{- $template = $template | append 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 -}}
    {{- end -}}

    {{- delimit $template "," -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_item_embed__" -}}
    {{- $ids := slice -}}
    {{- $items := dict -}}

    {{- range . -}}
        {{- $id := "id" | index . | string -}}
        {{- $infusions := "infusions" | index . -}}
        {{- $skin := "skin" | index . | string -}}
        {{- $stat := "stat" | index . | string -}}
        {{- $upgrades := "upgrades" | index . -}}
        {{- $upgradeCount := "upgradeCount" | index . -}}

        {{- $ids = $ids | append $id -}}
        {{- $items = slice $id $infusions $skin $stat $upgrades $upgradeCount | dict $id | merge $items -}}
    {{- end -}}

    {{- $data := dict -}}
    {{- $data = delimit $ids "," | dict "ids" | merge $data -}}
    {{- range $items -}}
        {{- $infusionIds := slice -}}
        {{- $upgradeIds := slice -}}

        {{- $id := 0 | index . -}}
        {{- $infusions := 1 | index . -}}
        {{- $skin := 2 | index . -}}
        {{- $stat := 3 | index . -}}
        {{- $upgrades := 4 | index . -}}
        {{- $upgradeCount := 5 | index . -}}

        {{- with $infusions -}}
            {{- range . -}}
                {{- with . -}}
                    {{- $infusionId := "id" | index . -}}

                    {{- if $infusionId | int | ne -1 -}}
                        {{- $infusionIds = $infusionIds | append $infusionId -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}

            {{- $data = delimit $infusionIds "," | dict (printf "%s-infusions" $id) | merge $data -}}
        {{- end -}}
        {{- with $skin -}}
            {{- $data = . | dict (printf "%s-skin" $id) | merge $data -}}
        {{- end -}}
        {{- with $stat -}}
            {{- $data = . | dict (printf "%s-stat" $id) | merge $data -}}
        {{- end -}}
        {{- with $upgrades -}}
            {{- range . -}}
                {{- with . -}}
                    {{- $upgradeId := "id" | index . -}}

                    {{- if $upgradeId | int | ne -1 -}}
                        {{- $upgradeIds = $upgradeIds | append $upgradeId -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}

            {{- $data = delimit $upgradeIds "," | dict (printf "%s-upgrades" $id) | merge $data -}}
        {{- end -}}
        {{- with $upgradeCount -}}
            {{- $data = replace ($upgradeCount | jsonify) "\"" "" | dict (printf "%s-upgrade-count" $id) | merge $data -}}
        {{- end -}}
        {{ if $id | int | eq -1 }}
            {{- $data = dict "blank-text" "" | merge $data -}}
        {{ end }}
    {{- end -}}

    {{- $data | slice "items" | partial "elements/embed.html" -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_skills_embed__" -}}
    {{- $ids := slice -}}
    {{- $skills := dict -}}

    {{- range . -}}
        {{- $id := "id" | index . | string -}}
        {{- $ids = $ids | append $id -}}
    {{- end -}}

    {{- $data := delimit $ids "," | dict "ids" -}}

    {{- $data | slice "skills" | partial "elements/embed.html" -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_specializations_embed__" -}}
    {{- $ids := slice -}}
    {{- $specializations := dict -}}

    {{- range . -}}
        {{- $id := "id" | index . | string -}}
        {{- $traits := "traits" | index . -}}

        {{- $ids = $ids | append $id -}}
        {{- $specializations = slice $id $traits | dict $id | merge $specializations -}}
    {{- end -}}

    {{- $data := dict -}}
    {{- $data = delimit $ids "," | dict "ids" | merge $data -}}
    {{- range $specializations -}}
        {{- $id := 0 | index . -}}
        {{- $traits := 1 | index . -}}

        {{- $data = delimit $traits "," | dict (printf "%s-traits" $id) | merge $data -}}
    {{- end -}}

    {{ $data | slice "specializations" | partial "elements/embed.html" }}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_item__" -}}
    {{- $styles := 0 | index . -}}
    {{- $item := 1 | index . -}}
    {{- $upgrade := 2 | index . -}}
    {{- $infusion := 3 | index . -}}

    {{- $classes := slice -}}
    {{- $classes = $classes | append "build-card-item" -}}
    {{- $classes = $classes | append "is-item" -}}
    {{- $classes = $classes | append $styles -}}
    {{- $classes = $classes | append "has-name" -}}
    {{- if $upgrade -}}
        {{- $classes = $classes | append "has-upgrade" -}}
    {{- end -}}
    {{- if $infusion -}}
        {{- $classes = $classes | append "has-infusion" -}}
    {{- end -}}

    <div class="{{ delimit $classes " " }}">
        {{ template "__rfgames_shortcode_includes__build_item_embed__" slice $item }}
        {{- with $item -}}
            {{- $itemName := "name" | index . -}}

            <span class="build-card-name">{{ $itemName }}</span>
        {{- end -}}
        {{- with $upgrade -}}
            {{- $upgradeId := "id" | index . -}}
            {{- $upgradeName := "name" | index . -}}

            {{- $upgradeItem := dict "id" $upgradeId -}}

            <div class="build-card-upgrade">
                {{ template "__rfgames_shortcode_includes__build_item_embed__" slice $upgradeItem }}
                <span class="build-card-upgrade-name">{{ $upgradeName }}</span>
            </div>
        {{- end -}}
        {{- with $infusion -}}
            {{- $infusionId := "id" | index . -}}
            {{- $infusionName := "name" | index . -}}

            {{- $infusionItem := dict "id" $infusionId -}}

            <div class="build-card-infusion">
                {{ template "__rfgames_shortcode_includes__build_item_embed__" slice $infusionItem }}
                <span class="build-card-infusion-name">{{ $infusionName }}</span>
            </div>
        {{- end -}}
    </div>
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_skill_item__" -}}
    {{- $styles := 0 | index . -}}
    {{- $skill := 1 | index . -}}

    {{- $classes := slice -}}
    {{- $classes = $classes | append "build-card-item" -}}
    {{- $classes = $classes | append $styles -}}
    {{- $classes = $classes | append "has-name" -}}

    <div class="{{ delimit $classes " " }}">
        {{ template "__rfgames_shortcode_includes__build_skills_embed__" slice $skill }}
        {{- with $skill -}}
            {{- $skillName := "name" | index . -}}

            <span class="build-card-name">{{ $skillName }}</span>
        {{- end -}}
    </div>
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_armor__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}
    {{- $armorRuneCounts := 2 | index . -}}

    {{- with $data -}}
        {{- $rune := "rune" | index . -}}
        {{- $infusion := "infusion" | index . -}}

        {{- $item := . -}}
        {{- $item = slice $infusion | dict "infusions" | merge $item -}}
        {{- $item = slice $rune | dict "upgrades" | merge $item -}}

        {{- $classes := printf "is-%s" $block | slice "is-armor" -}}

        {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $rune -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_weapon__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}

    {{- with $data -}}
        {{- $type := "type" | index . -}}

        {{- $weapon := "weapon" | index . -}}
        {{- $weapon1 := "weapon1" | index . -}}
        {{- $weapon2 := "weapon2" | index . -}}
        {{- $sigil1 := "sigil1" | index . -}}
        {{- $sigil2 := "sigil2" | index . -}}
        {{- $infusion1 := "infusion1" | index . -}}
        {{- $infusion2 := "infusion2" | index . -}}

        {{- if $type | eq "DualWield" -}}
            {{- with $weapon1 -}}
                {{- $item := . -}}
                {{- $item = slice $infusion1 | dict "infusions" | merge $item -}}
                {{- $item = slice $sigil1 | dict "upgrades" | merge $item -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-dual-wield" "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil1 -}}
            {{- end -}}

            {{- with $weapon2 -}}
                {{- $item := . -}}
                {{- $item = slice $infusion2 | dict "infusions" | merge $item -}}
                {{- $item = slice $sigil2 | dict "upgrades" | merge $item -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-dual-wield" "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil2 -}}
            {{- end -}}
        {{- end -}}
        {{- if $type | eq "MainHandOnly" -}}
            {{- with $weapon1 -}}
                {{- $item := . -}}
                {{- $item = slice $infusion1 | dict "infusions" | merge $item -}}
                {{- $item = slice $sigil1 | dict "upgrades" | merge $item -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-main-hand-only" "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil1 -}}
            {{- end -}}

            {{- with . -}}
                {{- $item := dict "id" -1 -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-main-hand-only" "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item -}}
            {{- end -}}
        {{- end -}}
        {{- if $type | eq "OffHandOnly" -}}
            {{- with . -}}
                {{- $item := dict "id" -1 -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-off-hand-only" "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item -}}
            {{- end -}}

            {{- with $weapon2 -}}
                {{- $item := . -}}
                {{- $item = slice $infusion2 | dict "infusions" | merge $item -}}
                {{- $item = slice $sigil2 | dict "upgrades" | merge $item -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-off-hand-only" "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil2 -}}
            {{- end -}}
        {{- end -}}
        {{- if $type | eq "TwoHand" -}}
            {{- with $weapon -}}
                {{- $item := . -}}
                {{- $item = slice $infusion1 $infusion2 | dict "infusions" | merge $item -}}
                {{- $item = slice $sigil1 $sigil2 | dict "upgrades" | merge $item -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-two-hand" "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil1 -}}
            {{- end -}}

            {{- with . -}}
                {{- $item := dict "id" -1 -}}

                {{- $classes := printf "is-%s" $block | slice "is-weapon" "is-two-hand" "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $sigil2 -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_trinket__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}

    {{- with $data -}}
        {{- $infusion := "infusion" | index . -}}
        {{- $upgrade := "upgrade" | index . -}}

        {{- $infusions := "infusions" | index . -}}

        {{- with $infusion -}}
            {{- $infusions = $infusions | append . -}}
        {{- end -}}

        {{- $item := . -}}
        {{- $item = $infusions | dict "infusions" | merge $item -}}
        {{- $item = slice $upgrade | dict "upgrades" | merge $item -}}

        {{- $classes := printf "is-%s" $block | slice "is-trinket" -}}

        {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item $upgrade -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_consumable__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}

    {{- with $data -}}
        {{- $item := . -}}

        {{- $classes := printf "is-%s" $block | slice "is-consumable" -}}

        {{- template "__rfgames_shortcode_includes__build_equipment_item__" slice $classes $item -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_skill__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}

    {{- with $data -}}
        {{- $id := "id" | index . -}}
        {{- $name := "name" | index . -}}
        {{- $wiki := "wiki" | index . -}}

        {{- $data := dict -}}
        {{- $data = $id | dict "id" | merge $data -}}
        {{- $data = $name | dict "name" | merge $data -}}

        {{- $classes := printf "is-%s" $block | slice "is-skill" -}}

        {{- template "__rfgames_shortcode_includes__build_skill_item__" slice $classes $data -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_specialization__" -}}
    {{- $block := 0 | index . -}}
    {{- $data := 1 | index . -}}

    {{- with $data -}}
        {{- $id := "id" | index . -}}
        {{- $traits := "traits" | index . -}}

        {{- $data := dict "id" $id "traits" $traits -}}

        {{- template "__rfgames_shortcode_includes__build_specializations_embed__" slice $data -}}
    {{- end -}}
{{- end -}}

<div class="build-card is-template">
    <div class="build-card-content">
        <div
            class="build-card-template-code-container"
            data-chat-code="{{ template "__rfgames_shortcode_includes__build_template_code__" $template }}"
        >
            <span class="template-addon">Template</span>
            <span class="template-code" data-chat-code-target>Generating ...</span>
            <button class="template-copy" data-chat-code-copy>Copy</button>
        </div>
    </div>
</div>

<div class="build-card is-armors">
    <h5 class="title">Armors</h5>
    <div class="build-card-content">
        <div class="build-card-armor-container">
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "head" $equipments.head $armorRuneCounts) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "shoulders" $equipments.shoulders $armorRuneCounts) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "coat" $equipments.coat $armorRuneCounts) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "gloves" $equipments.gloves $armorRuneCounts) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "leggings" $equipments.leggings $armorRuneCounts) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_armor__" (slice "boots" $equipments.boots $armorRuneCounts) }}
        </div>
    </div>
</div>

<div class="build-card is-weapons">
    <h5 class="title">Weapons</h5>
    <div class="build-card-content">
        <div class="build-card-weapon-container">
            {{ template "__rfgames_shortcode_includes__build_equipment_weapon__" (slice "weapon1" $equipments.weapon1) }}
            <div class="gw2-embed-container">
                {{ range $equipments.weapon1.skills }}
                    {{ template "__rfgames_shortcode_includes__build_skill__" slice "weapon-skill" . }}
                {{ end }}
            </div>
        </div>
        <div class="build-card-weapon-container">
            {{ template "__rfgames_shortcode_includes__build_equipment_weapon__" (slice "weapon2" $equipments.weapon2) }}
            <div class="gw2-embed-container">
                {{ range $equipments.weapon2.skills }}
                    {{ template "__rfgames_shortcode_includes__build_skill__" slice "weapon-skill" . }}
                {{ end }}
            </div>
        </div>
    </div>
</div>

<div class="build-card is-trinkets">
    <h5 class="title">Trinkets</h5>
    <div class="build-card-content">
        <div class="build-card-trinket-container">
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "back" $equipments.back) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "accessory1" $equipments.accessory1) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "accessory2" $equipments.accessory2) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "amulet" $equipments.amulet) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "ring1" $equipments.ring1) }}
            {{ template "__rfgames_shortcode_includes__build_equipment_trinket__" (slice "ring2" $equipments.ring2) }}
        </div>
    </div>
</div>

<div class="build-card is-consumables">
    <h5 class="title">Consumables</h5>
    <div class="build-card-content">
        <div class="build-card-consumable-container">
            {{ template "__rfgames_shortcode_includes__build_consumable__" (slice "food" $consumables.food) }}
            {{ template "__rfgames_shortcode_includes__build_consumable__" (slice "utility" $consumables.utility) }}
        </div>
    </div>
</div>

<div class="build-card is-skills">
    <h5 class="title">Skills</h5>
    <div class="build-card-content">
        <div class="build-card-skill-container">
            <div class="gw2-embed-container">
                {{ template "__rfgames_shortcode_includes__build_skill__" slice "healing" $skills.healing }}
                {{ range $skills.utilities }}
                    {{ template "__rfgames_shortcode_includes__build_skill__" slice "utility" . }}
                {{ end }}
                {{ template "__rfgames_shortcode_includes__build_skill__" slice "elite" $skills.elite }}
            </div>
        </div>
    </div>
</div>

<div class="build-card is-specializations">
    <h5 class="title">Specializations</h5>
    <div class="build-card-content">
        <div class="build-card-specialization-container">
            {{ range $specializations }}
                {{ template "__rfgames_shortcode_includes__build_specialization__" slice "specialization" . }}
            {{ end }}
        </div>
    </div>
</div>
