{{- $members := "members" | index .Site.Data -}}

<div class="columns is-centered">
    {{- range $members -}}
        {{- $avatar := index . "avatar" | printf "images/members/%s.jpg" | resources.Get | fingerprint "sha512" -}}

        <div class="column">
            <div class="member">
                <figure class="member-avatar image">
                    <img src="{{ $avatar.RelPermalink }}">
                </figure>
                <div class="member-nameplate">
                    <div class="member-nameplate-side is-front">
                        <span class="member-nameplate-item">{{ index . "name" }}</span>
                    </div>
                    <div class="member-nameplate-side is-back">
                        {{- with index . "accounts" -}}
                            {{- with index . "account" -}}
                                <div class="member-nameplate-item">
                                    <span class="icon icon-account-name">
                                        {{- $ | partialCached "svgs/account.svg" -}}
                                    </span>
                                    <span class="member-nameplate-item-text">{{ . }}</span>
                                </div>
                            {{- end -}}
                            {{- with index . "discord" -}}
                                <div class="member-nameplate-item">
                                    <span class="icon icon-discord">
                                        {{- $ | partialCached "svgs/discord.svg" -}}
                                    </span>
                                    <span class="member-nameplate-item-text">{{ . }}</span>
                                </div>
                            {{- end -}}
                            {{- with index . "youtube" -}}
                                <a class="member-nameplate-item" href="https://www.youtube.com/channel/{{ . }}">
                                    <span class="icon icon-youtube">
                                        {{- $ | partialCached "svgs/youtube.svg" -}}
                                    </span>
                                    <span class="member-nameplate-item-text">YouTube</span>
                                </a>
                            {{- end -}}
                            {{- with index . "twitch" -}}
                                <a class="member-nameplate-item" href="https://www.twitch.tv/{{ . }}">
                                    <span class="icon icon-twitch">
                                        {{- $ | partialCached "svgs/twitch.svg" -}}
                                    </span>
                                    <span class="member-nameplate-item-text">Twitch</span>
                                </a>
                            {{- end -}}
                        {{- end -}}
                    </div>
                </div>
            </div>
        </div>
    {{- end -}}
</div>
