{{- $currentPage := . -}}

{{- $legal := .GetPage "legal" -}}

<div class="consent is-disabled">
    <p class="consent-content">We use cookies and other tracking technologies to improve your browsing experience. By keeping browsing our website, you consent to the use of cookies and other tracking technologies. <a href="{{ $legal.RelPermalink }}" >Read our legal notices</a>.</p>
    <a class="consent-button button">Accept</a>
</div>

<header class="header">
    <div class="container">
        <nav class="nav" aria-label="dropdown navigation">
            <div class="nav-brand">
                <a class="nav-item" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
                <a class="nav-toggle" role="button" aria-label="menu" aria-expanded="false" data-toggler>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="nav-menu" data-menu>
                {{ range "nav" | index .Site.Menus }}
                {{ if .HasChildren }}
                <div class="{{ slice . $currentPage "nav" | partial "functions/nav-item-class.text" }} has-dropdown">
                    <a class="nav-link" href="{{ .URL }}">
                        {{ .Pre }}<span>{{ .Title }}</span>{{ .Post }}
                    </a>

                    <div class="nav-dropdown">
                        {{ range .Children }}
                        <a class="{{ slice . $currentPage "nav" | partial "functions/nav-item-class.text" }}" href="{{ .URL }}">
                            {{ .Pre }}<span>{{ .Title }}</span>{{ .Post }}
                        </a>
                        {{ end }}
                    </div>
                </div>
                {{ else }}
                <a class="{{ slice . $currentPage "nav" | partial "functions/nav-item-class.text" }}" href="{{ .URL }}">
                    {{ .Pre }}<span>{{ .Title }}</span>{{ .Post }}
                </a>
                {{ end }}
                {{ end }}
            </div>
        </nav>
    </div>
</header>
