{{- define "main" -}}
    {{- $background := "background" | .Param | default "default" | printf "backgrounds/%s" -}}
    {{- $overlay := "overlay" | .Param | default "default" | printf "overlays/%s" -}}

    <main class="main is-page">
        <div class="page-background">
            {{- slice $ $background "1280,1920,3840" "jpg" .Title | partial "components/responsive-image.html" -}}
        </div>

        <div class="page-overlay">
            {{- slice $ $overlay "1280,1920,3840" "png" .Title false | partial "components/responsive-image.html" -}}
        </div>

        <div class="container">
            <div class="page-head">
                {{- with "header" | .Param -}}
                    {{- with "image" | index . -}}
                        {{- $icon := . | printf "headers/%s.png" | resources.Get | fingerprint "sha512" -}}
                        <div class="page-head-icon">
                            <figure class="image">
                                <img src="{{ $icon.RelPermalink }}" alt="{{ index . "title" | default $.Title | safeHTML }}">
                            </figure>
                        </div>
                    {{- end -}}
                {{- end -}}
                <div class="page-head-text">
                    {{- with "header" | .Param -}}
                        {{- with "subtitle" | index . -}}
                            <h3 class="subtitle">{{ . | safeHTML }}</h3>
                        {{- end -}}

                        {{- with "title" | index . -}}
                            <h2 class="title">{{ . | safeHTML }}</h2>
                        {{- else -}}
                            <h2 class="title">{{ $.Title | safeHTML }}</h2>
                        {{- end -}}
                    {{- else -}}
                        <h2 class="title">{{ .Title | safeHTML }}</h2>
                    {{- end -}}
                </div>
            </div>

            <div class="page-body">
                <div class="content">
                    {{- .Content -}}
                </div>
            </div>

            {{- if "disqus" | index .Params -}}
                <div class="page-foot has-disqus">
                    <div id="disqus_thread">
                        <noscript>
                            <p class="has-text-centered has-text-danger">Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">Disqus</a> comments.</p>
                        </noscript>
                        <p class="dsq-brlink has-text-centered">
                            Comments powered by <a href="https://disqus.com">Disqus</a>.
                        </p>
                    </div>
                </div>
            {{- else -}}
                <div class="page-foot">
                </div>
            {{- end -}}
        </div>
    </main>
{{- end -}}
