.columns {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--block-spacing) - var(--column-gap));
    margin-left: calc(-1 * var(--column-gap));
    margin-right: calc(-1 * var(--column-gap));
    margin-top: calc(-1 * var(--column-gap));

    &:last-child {
        margin-bottom: calc(-1 * var(--column-gap));;
    }

    &.is-centered {
        justify-content: center;
    }

    @include tablet() {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: var(--column-gap);
}
