.member {
    border-radius: var(--member-radius);
    display: block;
    min-width: var(--member-width);
    overflow: hidden;
    padding-top: 100%;
    position: relative;

    @include has-hover() {
        .member-nameplate-side {
            transform: translateY(-100%);
        }
    }
}

.member-avatar {
    @include overlay();
}

.member-nameplate {
    --icon-dimensions: var(--member-nameplate-icon-dimensions);

    background-color: var(--member-nameplate-background-color);
    bottom: 0;
    height: var(--member-nameplate-height);
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.member-nameplate-side {
    align-items: center;
    display: flex;
    height: var(--member-nameplate-height);
    padding: var(--member-nameplate-padding);
    transform: translateY(0);
    transition: transform var(--speed) var(--easing);
    white-space: nowrap;

    &.is-back {
        justify-content: center;

        .member-nameplate-item {
            background-color: var(--member-nameplate-item-background-color);
            color: var(--member-nameplate-item-text-color);
            max-width: var(--member-nameplate-icon-dimensions);
            transition: max-width var(--easing) var(--speed-slow);

            @include has-hover() {
                max-width: var(--member-width);
            }
        }
    }
}

.member-nameplate-item {
    border-radius: var(--member-nameplate-item-radius);
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;

    &:not(:last-child) {
        margin-right: var(--member-nameplate-item-spacing);
    }

    .icon {
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.member-nameplate-item-text {
    align-items: center;
    display: flex;
    font-size: var(--member-nameplate-item-font-size);
    height: var(--member-nameplate-icon-dimensions);
    justify-content: center;
    padding: var(--member-nameplate-item-padding);
    text-overflow: ellipsis;
    white-space: nowrap;
}
