.message {
    @include block(var(--message-block-spacing));

    background-color: var(--message-background-color);
    border-radius: var(--message-border-radius);
    padding: var(--message-padding);

    strong {
        color: currentColor;
    }
}

.message-head {
    color: var(--message-head-text-color);
    font-size: var(--message-head-font-size);
    margin: var(--message-head-margin);
}

.message-body {
    color: var(--message-body-text-color);
    display: flex;
    font-size: var(--message-body-font-size);
    margin: 0;

    p {
        margin: 0;
    }

    svg {
        fill: currentColor;
        height: var(--message-body-icon-size);
        margin: var(--message-body-icon-margin);
        width: var(--message-body-icon-size);
    }
}
