.tabs {
    @include block(var(--tab-block-spacing));
}

.tab-nav {
    @include block(0);
    @include overflow-touch();
    @include unselectable();

    align-items: stretch;
    display: flex;
    font-family: var(--tab-nav-font-family);
    font-size: var(--tab-nav-font-size);
    font-weight: var(--tab-nav-font-weight);
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    ul {
        align-items: center;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    li {
        background-color: var(--tab-nav-background-color);
        border-radius: var(--tab-nav-radius) var(--tab-nav-radius) 0 0;
        display: block;
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        transition: background-color var(--easing) var(--speed);

        & + li {
            margin: 0;
        }

        &:not(:first-child) {
            margin-left: var(--tab-nav-spacing);
        }

        &:not(:last-child) {
            margin-right: var(--tab-nav-spacing);
        }

        @include has-active() {
            background-color: var(--tab-nav-background-active-color);
        }
    }

    a {
        align-items: center;
        color: var(--tab-nav-text-color);
        display: flex;
        justify-content: center;
        outline: none;
        padding: var(--tab-nav-padding);
        text-shadow: var(--tab-nav-text-shadow);

        @include has-hover() {
            color: var(--tab-nav-text-color);
        }
    }
}

.tab-content {
    background-color: var(--tab-content-background-color);
    border-radius: 0 0 var(--tab-content-radius) var(--tab-content-radius);
    display: flex;
    padding: var(--tab-content-spacing);
}

.tab {
    display: none;

    &.is-active {
        display: block;
    }
}
