.button {
    @include control();
    @include unselectable();

    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    @include has-active {
        background-color: var(--button-background-active-color);
        color: var(--button-text-active-color);
    }

    @include has-focus() {
        background-color: var(--button-background-focus-color);
        color: var(--button-text-focus-color);
    }

    @include has-hover() {
        background-color: var(--button-background-hover-color);
        color: var(--button-text-hover-color);
    }

    &.is-danger {
        background-color: var(--button-background-danger-color);
        color: var(--button-text-danger-color);
    }

    &.is-loading {
        color: transparent;
        pointer-events: none;

        &::after {
            @include loader();
        }
    }

    &.is-success {
        background-color: var(--button-background-success-color);
        color: var(--button-text-success-color);
    }
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .button {
        margin-bottom: var(--button-spacing);

        &:not(:last-child) {
            margin-right: var(--button-spacing);
        }
    }
}
