.consent {
    align-items: center;
    background-color: var(--consent-background-color);
    border-top: 0.0625rem solid var(--consent-border-color);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: var(--consent-padding);
    position: fixed;
    right: 0;
    z-index: var(--consent-z-index);

    @include tablet() {
        flex-direction: row;
        justify-content: space-between;
    }

    @include print() {
        display: none;
    }

    &.is-disabled {
        display: none;
    }
}

.consent-content {
    margin: 0;
    padding: 0;
}

.consent-button {
    margin-top: 1.25rem;

    @include tablet() {
        margin-top: 0;
        margin-left: 3rem;
    }
}
