.content {
    @include block(var(--content-spacing));

    p,
    ul {
        margin: 0;
        padding: 0;
    }

    ul {
        padding: var(--content-list-padding);
    }

    p,
    ul {
        @include block(var(--content-block-spacing));
    }

    li {
        & + li {
            margin-top: var(--content-list-spacing);
        }
    }
}
