.content {
    @include block(var(--content-spacing));

    p,
    ul {
        @include block(var(--content-block-spacing));

        font-size: var(--content-font-size);
        margin: 0;
        padding: 0;
    }

    h5 {
        --block-spacing: 0;

        font-family: var(--content-h5-font-family);
        font-size: var(--content-h5-font-size);
        font-weight: var(--content-h5-font-weight);
    }

    h6 {
        --block-spacing: 0;

        font-family: var(--content-h6-font-family);
        font-size: var(--content-h6-font-size);
        font-weight: var(--content-h6-font-weight);
    }

    p {
        line-height: var(--content-line-height);
    }

    ul {
        padding: var(--content-list-padding);
    }

    li {
        & + li {
            margin-top: var(--content-list-spacing);
        }
    }
}
