.container {
    margin: 0 auto;
    width: 100%;

    @include tablet() {
        max-width: calc(var(--tablet-breakpoint) - var(--container-offset));
    }

    @include desktop() {
        max-width: calc(var(--desktop-breakpoint) - var(--container-offset));
    }
}
