.gw2-embed {
    display: block;

    &.is-inline {
        display: inline-block;
    }

    &.is-item {
        --gw2-embed-icon-size: var(--gw2-embed-item-size);

        &.is-inline {
            --gw2-embed-icon-size: var(--gw2-embed-item-inline-size);
        }
    }

    &.is-skill {
        --gw2-embed-icon-size: var(--gw2-embed-skill-size);

        &.is-inline {
            --gw2-embed-icon-size: var(--gw2-embed-skill-inline-size);
        }
    }

    &.is-profession {
        --gw2-embed-icon-size: var(--gw2-embed-profession-size);

        &.is-inline {
            --gw2-embed-icon-size: var(--gw2-embed-profession-inline-size);
        }
    }

    &.is-trait,
    &.is-traitline {
        --gw2-embed-icon-size: var(--gw2-embed-trait-size);

        &.is-inline {
            --gw2-embed-icon-size: var(--gw2-embed-trait-inline-size);
        }
    }

    &.is-traitline {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: var(--gw2-embed-traitline-min-height);
    }

    .gw2-embed-icon {
        height: var(--gw2-embed-icon-size);
        width: var(--gw2-embed-icon-size);
    }

    .gw2-embed-traitline {
        width: 100%;
    }
}

.gw2-embed-container {
    align-items: center;
    display: flex;
    justify-content: center;
}
