.gw2-embed {
    --gw2-embed-icon-size: var(--gw2-embed-size);

    display: block;

    &.is-profession,
    &.is-trait,
    &.is-traitline {
        --gw2-embed-icon-size: var(--gw2-embed-size-small);
    }

    &.is-traitline {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: var(--gw2-embed-traitline-min-height);
    }

    &.is-inline {
        --gw2-embed-icon-size: var(--gw2-embed-size-micro);
        display: inline-block;
    }

    .gw2-embed-icon {
        height: var(--gw2-embed-icon-size);
        width: var(--gw2-embed-icon-size);
    }

    .gw2-embed-traitline {
        width: 100%;
    }
}

.gw2-embed-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.gw2-embed-inline-placeholder {
    display: inline-block;
    height: var(--gw2-embed-icon-size);
    width: var(--gw2-embed-icon-size);
    margin-right: 0.25rem;
}
