.image {
    display: block;
    margin: 0;
    position: relative;

    img[data-placeholder] {
        @include overlay();

        & ~ img {
            opacity: 0;
            position: relative;
            transition: opacity var(--speed-slow) var(--easing) var(--delay-long);

            &.is-loaded {
                opacity: 1;
            }
        }
    }

    img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}
