.image {
    display: block;
    margin: 0;
    position: relative;

    img {
        @include overlay();

        position: relative;

        &[data-placeholder] {
            position: absolute;

            & ~ img {
                opacity: 0;
                transition: opacity var(--speed-slow) var(--easing) var(--delay-long);

                &.is-loaded {
                    opacity: 1;
                }
            }
        }

        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}
