.tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &.has-addons {
        flex-wrap: nowrap;

        .tag {
            &:not(:first-child) {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }

            &:not(:last-child) {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                margin-right: 0;
            }
        }
    }

    .tag {
        margin-bottom: 0.5rem;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .tags {
        &.has-addons {
            &:not(:last-child) {
                margin-right: 0.5rem;
            }
        }
    }
}

.tag {
    align-items: center;
    background-color: var(--tag-background-color);
    border-radius: var(--tag-radius);
    color: var(--tag-text-color);
    display: inline-flex;
    font-size: var(--tag-font-size);
    height: var(--tag-height);
    justify-content: center;
    line-height: var(--tag-line-height);
    padding: var(--tag-padding);
    white-space: nowrap;
}
