.title,
.subtitle {
    @include block();

    margin: 0;
    overflow-wrap: break-word;
    text-shadow: var(--title-text-shadow);
    word-break: normal;
}

.title {
    color: var(--title-text-color);
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    line-height: var(--title-line-height);

    &:not(.is-spaced) {
        & + .subtitle {
            margin-top: var(--subtitle-negative-margin);
        }
    }
}

.subtitle {
    color: var(--subtitle-text-color);
    font-family: var(--subtitle-font-family);
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    line-height: var(--subtitle-line-height);

    &:not(.is-spaced) {
        & + .title {
            margin-top: var(--title-negative-margin);
        }
    }
}
