{{- $name := 0 | index . -}}
{{- $sizes := 1 | index . -}}
{{- $ext := 2 | index . | default "jpg" -}}
{{- $alt := 3 | index . | default "" -}}

{{- $widths := split $sizes "," -}}

{{- define "__rfgames_partials_functions__image_srcset__" -}}
{{- $name := 0 | index . -}}
{{- $ext := 1 | index . -}}
{{- $widths := 2 | index . -}}
{{- $srcs := slice -}}
{{- range $widths -}}
{{- $image := printf "%s-%sw.%s" $name . $ext | resources.Get | fingerprint "sha512" -}}
{{- $src := printf "%s %sw" $image.RelPermalink . | slice -}}
{{- $srcs = append $src $srcs -}}
{{- end -}}
{{- delimit $srcs "," | printf "%s" -}}
{{- end -}}

{{- define "__rfgames_partials_functions__image_placeholder__" -}}
{{- $name := 0 | index . -}}
{{- $ext := 1 | index . -}}
{{- $image := printf "%s-placeholder.%s" $name $ext | resources.Get | fingerprint "sha512" -}}
{{- base64Encode $image.Content | printf "data:image/jpeg;base64,%s" | safeURL -}}
{{- end -}}

{{- define "__rfgames_partials_functions__image_fallback__" -}}
{{- $name := 0 | index . -}}
{{- $ext := 1 | index . -}}
{{- $image := printf "%s-fallback.%s" $name $ext | resources.Get | fingerprint "sha512" -}}
{{- $image.RelPermalink | printf "%s" -}}
{{- end -}}

<figure class="image">
    <img
        src="{{ template "__rfgames_partials_functions__image_placeholder__" (slice $name $ext) }}"
        alt="{{ $alt }}"
        data-placeholder
    >
    <img
        srcset="{{ template "__rfgames_partials_functions__image_srcset__" (slice $name $ext $widths) }}"
        src="{{ template "__rfgames_partials_functions__image_fallback__" (slice $name $ext) }}"
        alt="{{ $alt }}"
    >
</figure>
