{{- $context := 0 | index . -}}
{{- $type := 1 | index . | lower -}}
{{- $inline := 2 | index . | default false -}}
{{- $data := 3 | index . | default dict -}}
{{- $class := 4 | index . | default slice -}}

{{- $data = $type | dict "type" | merge $data -}}
{{- $data = $inline | string | dict "inline" | merge $data -}}

{{- $classes := slice -}}
{{- $classes = $classes | append "gw2-embed" -}}
{{- with $inline -}}
    {{- $classes = $classes | append "is-inline" -}}
{{- end -}}
{{- with $type | printf "is-%s" -}}
    {{- $classes = $classes | append . -}}
{{- end -}}
{{- with $class -}}
    {{- $classes = $classes | append . -}}
{{- end -}}

{{- with $data.name -}}
    {{- if $type | eq "effect" -}}
        {{- $data = . | dict "id" | merge $data -}}
    {{- end -}}

    {{- if $type | eq "item" -}}
        {{- $data = . | slice $context "item" | partial "functions/gw2-data-name-to-id.integer" | dict "id" | merge $data -}}
    {{- end -}}

    {{- if $type | eq "profession" -}}
        {{- $data = . | slice $context "profession" | partial "functions/gw2-data-name-to-id.string" | dict "id" | merge $data -}}
        {{- with . | slice $context | partial "functions/gw2-data-profession-name-to-elite-id.integer" -}}
            {{- $data = . | dict "elite" | merge $data -}}
        {{- end -}}
    {{- end -}}

    {{- if $type | eq "skill" -}}
        {{- $data = . | slice $context "skill" | partial "functions/gw2-data-name-to-id.integer" | dict "id" | merge $data -}}
    {{- end -}}

    {{- if $type | eq "specialization" -}}
        {{- $data = . | slice $context "specialization" | partial "functions/gw2-data-name-to-id.integer" | dict "id" | merge $data -}}
    {{- end -}}

    {{- if $type | eq "trait" -}}
        {{- $data = . | slice $context "trait" | partial "functions/gw2-data-name-to-id.integer" | dict "id" | merge $data -}}
    {{- end -}}

    {{- if "text" | index $data | not -}}
        {{- $data = . | slice $context $type | partial "functions/gw2-data-name-to-name.string" | dict "text" | merge $data -}}
    {{- end -}}

    {{- if "id" | index $data | not -}}
        {{- errorf "Unable to find %s name: %s" $type . -}}
    {{- end -}}
{{- end -}}

{{- $attributes := dict -}}
{{- $attributes = delimit $classes " " | dict "class" | merge $attributes -}}
{{- range $key, $value := $data -}}
    {{- if "name" | ne $key -}}
        {{- $attribute := $key | printf "data-embed-%s" -}}
        {{- $attributes = $value | string | dict $attribute | merge $attributes -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_partials_elements__embed_class__" -}}
    {{- . | printf "gw2-embed-%s" -}}
{{- end -}}

{{- if $inline -}}
    <span
        {{ range $key, $value := $attributes }}
            {{ $value | htmlEscape | printf "%s=%q" $key | safeHTMLAttr }}
        {{ end }}
    >
        <span
            class="{{ template "__rfgames_partials_elements__embed_class__" "container" }} {{ template "__rfgames_partials_elements__embed_class__" $type }}"
        >
            {{- if "disable-icon" | index $data | not -}}
                <span
                    class="{{ template "__rfgames_partials_elements__embed_class__" "icon" }}"
                >
                    {{- if "disable-icon-link" | index $data | not -}}
                        <a
                            class="{{ template "__rfgames_partials_elements__embed_class__" "link" }}"
                            href="{{ "link" | index $data }}"
                        ></a>
                    {{- end -}}
                </span>
            {{- end -}}
            {{- if "disable-text" | index $data | not -}}
                <span
                    class="{{ template "__rfgames_partials_elements__embed_class__" "text" }}"
                >
                    {{- if "disable-text-link" | index $data -}}
                        <a
                            class="{{ template "__rfgames_partials_elements__embed_class__" "link" }}"
                            href="{{ "link" | index $data }}"
                        >{{ "text" | index $data }}</a>
                    {{- else -}}
                        {{ "text" | index $data }}
                    {{- end -}}
                </span>
            {{- end -}}
        </span>
    </span>
{{- else -}}
    <div
        {{ range $key, $value := $attributes }}
            {{ $value | htmlEscape | printf "%s=%q" $key | safeHTMLAttr }}
        {{ end }}
    >
        <div
            class="{{ template "__rfgames_partials_elements__embed_class__" "container" }} {{ template "__rfgames_partials_elements__embed_class__" $type }}"
        >
            {{- if "disable-icon" | index $data | not -}}
                <div
                    class="{{ template "__rfgames_partials_elements__embed_class__" "icon" }}"
                >
                    {{- if "disable-icon-link" | index $data | not -}}
                        <a
                            class="{{ template "__rfgames_partials_elements__embed_class__" "link" }}"
                            href="{{ "link" | index $data }}"
                        ></a>
                    {{- end -}}
                </div>
            {{- end -}}
            {{- if "disable-text" | index $data | not -}}
                <div
                    class="{{ template "__rfgames_partials_elements__embed_class__" "text" }}"
                >
                    {{- if "disable-text-link" | index $data -}}
                        <a
                            class="{{ template "__rfgames_partials_elements__embed_class__" "link" }}"
                            href="{{ "link" | index $data }}"
                        >{{ "text" | index $data }}</a>
                    {{- else -}}
                        {{ "text" | index $data }}
                    {{- end -}}
                </div>
            {{- end -}}
        </div>
    </div>
{{- end -}}
