{{- $type := 0 | index . | lower -}}
{{- $inline := 1 | index . | default false -}}
{{- $data := 2 | index . | default dict -}}
{{- $class := 3 | index . | default slice -}}

{{- $classes := slice -}}
{{- $classes = $classes | append "gw2-embed" -}}
{{- with $inline -}}
    {{- $classes = $classes | append "is-inline" -}}
{{- end -}}
{{- with $type | printf "is-%s" -}}
    {{- $classes = $classes | append . -}}
{{- end -}}
{{- with $class -}}
    {{- $classes = $classes | append . -}}
{{- end -}}

<div
    class="{{ delimit $classes " " }}"
    data-embed-type="{{ $type }}"
    data-embed-inline="{{ $inline | string }}"
    {{ range $key, $value := $data }}
        {{ $value | string | printf "data-embed-%s=%q" $key | safeHTMLAttr }}
    {{ end }}
>
    {{- if $inline -}}
        {{- with "text" | index $data -}}
            <span class="gw2-embed-inline-placeholder"></span>{{- . -}}
        {{- end -}}
    {{- end -}}
</div>
