.main {
    &.is-home {
        --section-gap: 0;
        --page-body-padding: 4rem 2rem;

        .section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 75vh;
            position: relative;

            @include print() {
                min-height: auto;

                .button {
                    display: none;
                }
            }

            &:not(:last-child) {
                border-bottom: 0.125rem solid var(--border-color);

                @include print() {
                    border-bottom: none;
                }
            }

            &.is-landing {
                --subtitle-font-size: 1.5rem;
                --title-font-size: 0;

                @include desktop() {
                    --subtitle-font-size: 2rem;
                }

                align-items: center;
                justify-content: center;
                min-height: calc(100vh - var(--nav-min-height));
                text-align: center;

                @include print() {
                    min-height: auto;
                }

                .page-overlay {
                    background-image: var(--home-section-fullheight-overlay-background-image);
                }

                .page-body {
                    width: 100%;
                }

                .title {
                    display: none;
                }

                .brand {
                    margin: -0.5rem 0;
                    padding: 0.5rem 1.5rem;

                    svg {
                        fill: var(--body-text-color);
                    }
                }
            }

            &.is-about,
            &.is-website {
                .page-body {
                    margin-left: 0;
                    margin-right: auto;
                }

                .page-overlay {
                    background-image: var(--home-section-left-overlay-background-image);
                }
            }

            &.is-recruitment,
            &.is-github {
                .page-body {
                    margin-left: auto;
                    margin-right: 0;
                }

                .page-overlay {
                    background-image: var(--home-section-right-overlay-background-image);
                }
            }
        }

        .page-body {
            align-items: center;
            background-color: unset;

            @include desktop() {
                width: 50%;
            }
        }
    }

    &.is-list,
    &.is-page {
        .page-background,
        .page-overlay {
            position: fixed;
        }

        .page-overlay {
            top: calc(-1 * var(--nav-min-height));
        }
    }

    &.is-list {
        .column {
            align-items: center;
            display: flex;
            flex-basis: calc(100% / 3);
            flex-grow: 0;
            justify-content: center;
        }

        .list-item {
            border-radius: var(--list-item-radius);
            border: var(--list-item-border);
            display: flex;
            max-width: 32rem;
            min-width: 12rem;
            overflow: hidden;
            transition: border-color var(--easing) var(--speed-slow);
            width: 100%;

            .image {
                padding-top: 75%;
                width: 100%;

                img {
                    transform: scale(1.25);
                    transition: transform var(--easing) var(--speed-slow);
                }

                @include has-hover() {
                    img {
                        transform: scale(1.0);
                    }
                }
            }

            .title {
                --title-font-size: var(--list-title-font-size);

                background-image: var(--list-title-background-image);
                left: 0;
                letter-spacing: var(--list-title-letter-spacing);
                padding: var(--list-title-padding);
                position: absolute;
                right: 0;
                text-shadow: var(--list-title-text-shadow);
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.form {
    .modal-content {
        align-items: center;
        background-color: var(--form-modal-content-background-color);
        border-radius: var(--form-modal-content-border-radius);
        color: var(--form-modal-content-text-color);
        display: flex;
        justify-content: center;
        padding: var(--form-modal-content-padding);

        [data-failure-message],
        [data-success-message] {
            display: none;

            @include has-active() {
                display: block;
            }
        }
    }
}
