@page {
    margin: 1.5cm;

    :left,
    :right {
        margin: 2.75cm;
    }
}

@include print() {
    :root {
        --body-background-color: var(--print-background-color);
        --body-text-color: var(--print-text-color);
        --drop-shadow: none;
        --input-background-color: var(--print-background-color);
        --input-dropdown-arrow-color: var(--print-text-color);
        --input-placeholder-text-color: var(--print-alternative-color);
        --input-shadow: none;
        --input-text-color: var(--print-text-color);
        --member-nameplate-background-color: var(--print-background-color);
        --member-nameplate-height: auto;
        --member-nameplate-item-background-color: var(--print-background-color);
        --member-nameplate-item-text-color: var(--print-text-color);
        --member-width: auto;
        --page-background-color: var(--print-background-color);
        --subtitle-text-color: var(--print-text-color);
        --text-shadow: none;
        --title-text-color: var(--print-text-color);
    }

    a {
        &[href^="http"],
        &[href^="https"] {
            &:after {
                content: ' (' attr(href) ')';
                font-size: var(--print-link-font-size);
            }
        }
    }
}
