{{- $armorParts := slice "helm" "shoulders" "coat" "gloves" "leggings" "boots" -}}

{{- $build := "build" | index .Page.Params -}}

{{- $consumables := "consumables" | index $build -}}
{{- $equipments := "equipments" | index $build -}}
{{- $template := "template" | index $build -}}

{{- $chatcode := slice $ "build" $template | partial "functions/gw2-chat-link.string" -}}

{{- $armorRuneCounts := dict -}}
{{- range $armorParts -}}
    {{- $armorItem := . | index $equipments -}}
    {{- $armorRune := "rune" | index $armorItem | slice $ | partial "functions/gw2-item-to-id.integer" -}}
    {{- with $armorRune | string -}}
        {{- $armorRuneCounts = . | index $armorRuneCounts | default 0 | add 1 | dict . | merge $armorRuneCounts -}}
    {{- end -}}
{{- end -}}

{{- $activeTraitlines := slice -}}
{{- range "traits" | index $build -}}
    {{- $traitSelections := . | after 1 -}}
    {{- $activeTraitline := 0 | index . | slice $ | partial "functions/gw2-specialization-to-id.integer" | slice | append $traitSelections -}}
    {{- $activeTraitlineValue := delimit $activeTraitline "|" -}}
    {{- $activeTraitlines = $activeTraitlines | append $activeTraitlineValue -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_embed__" -}}
    {{- $context := 0 | index . -}}
    {{- $type := 1 | index . -}}
    {{- $classes := 2 | index . -}}
    {{- $item := 3 | index . -}}
    {{- $upgrade := 4 | index . -}}
    {{- $showText := 5 | index . | default true -}}

    <div class="build-card-embed {{ delimit $classes " " }}">
        {{- with $item -}}
            {{- $data := $item -}}
            {{- $data = true | dict "disable-text" | merge $data -}}

            {{- if "id" | index $data | gt 0 -}}
                {{- $data = true | dict "disable-tooltip" | merge $data -}}
            {{- end -}}

            {{- slice "build-card-icon" | slice $context $type false $data | partial "components/embed.html" -}}
        {{- end -}}

        {{- if $showText -}}
            {{- with $item -}}
                {{- $data := $item -}}
                {{- $data = true | dict "disable-icon" | merge $data -}}

                {{- if "id" | index $data | gt 0 -}}
                    {{- $data = true | dict "disable-text" | merge $data -}}
                {{- end -}}

                {{- slice "build-card-text" | slice $context $type false $data | partial "components/embed.html" -}}
            {{- end -}}
        {{- end -}}

        {{- with $upgrade -}}
            {{- $classes := slice "build-card-upgrade" -}}
            {{- template "__rfgames_shortcode_includes__build_embed__" slice $context $type $classes . -}}
        {{- end -}}
    </div>
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_item_lookup__" -}}
    {{- $context := 0 | index . -}}
    {{- $classes := 1 | index . -}}

    {{- $item := dict -}}
    {{- $upgrade := dict -}}

    {{- with 3 | index . -}}
        {{- $upgradeCount := "upgrade-count" | index . -}}

        {{- with "id" | index . -}}
            {{- $upgradeId := . -}}
            {{- if . | string | eq . -}}
                {{- $upgradeId = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
            {{- end -}}
            {{- $upgradeText := slice $context $upgradeId | partial "functions/gw2-item-to-display-name.string" -}}
            {{- $upgrade = $upgradeId | dict "id" | merge $upgrade -}}
            {{- $upgrade = $upgradeText | dict "text" | merge $upgrade -}}
        {{- end -}}

        {{- with "upgrade-count" | index . -}}
            {{- if . | lt 0 -}}
                {{- $upgrade = . | dict "upgrade-count" | merge $upgrade -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- with 2 | index . -}}
        {{- with "id" | index . -}}
            {{- $id := . -}}
            {{- if . | string | eq . -}}
                {{- $id = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
            {{- end -}}
            {{- $item = $id | dict "id" | merge $item -}}
        {{- end -}}

        {{- with "stat" | index . -}}
            {{- if . | lt 0 -}}
                {{- $item = . | dict "stat" | merge $item -}}
            {{- end -}}
        {{- end -}}

        {{- with "text" | index . -}}
            {{- $item = . | dict "text" | merge $item -}}
        {{- end -}}

        {{- with "enrichments" | index . -}}
            {{- if . | len | lt 0 -}}
                {{- $item = delimit . "," | dict "enrichments" | merge $item -}}
            {{- end -}}
        {{- end -}}

        {{- with "infusions" | index . -}}
            {{- if . | len | lt 0 -}}
                {{- $item = delimit . "," | dict "infusions" | merge $item -}}
            {{- end -}}
        {{- end -}}

        {{- with "upgrades" | index . -}}
            {{- if . | len | lt 0 -}}
                {{- $item = delimit . "," | dict "upgrades" | merge $item -}}
            {{- end -}}
        {{- end -}}

        {{- with "upgrade-count" | index . -}}
            {{- if . | lt 0 -}}
                {{- $item = . | dict "upgrade-count" | merge $item -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item $upgrade -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_armor__" -}}
    {{- $context := 0 | index . -}}
    {{- $profession := 1 | index . -}}
    {{- $type := 2 | index . -}}
    {{- $armorRuneCounts := 4 | index . -}}

    {{- $classes := $type | printf "is-%s" | slice "is-armor" -}}

    {{- $item := dict -}}
    {{- $upgrade := dict -}}

    {{- with 3 | index . -}}
        {{- $id := "id" | index . | default 0 -}}
        {{- $stat := "stat" | index . | default -1 -}}
        {{- $infusionId := "infusion" | index . -}}
        {{- $runeId := "rune" | index . -}}
        {{- $upgradeCount := 0 -}}

        {{- with slice $context $type $stat $profession | partial "functions/gw2-search-item.dict" -}}
            {{- $id = "id" | index . -}}
            {{- $stat = "stat" | index . -}}
        {{- end -}}

        {{- with $runeId -}}
            {{- if . | string | eq . -}}
                {{- $runeId = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
            {{- end -}}
            {{- $upgradeCount = $runeId | string | index $armorRuneCounts -}}
        {{- end -}}

        {{- with $infusionId -}}
            {{- $infusionId =  . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
        {{- end -}}

        {{- $text := slice $context $id $stat | partial "functions/gw2-item-to-display-name.string" -}}

        {{- $item = $id | dict "id" | merge $item -}}
        {{- $item = $stat | dict "stat" | merge $item -}}
        {{- $item = $text | dict "text" | merge $item -}}
        {{- $item = slice $infusionId | dict "infusions" | merge $item -}}
        {{- $item = slice $runeId | dict "upgrades" | merge $item -}}
        {{- $item = $upgradeCount | dict "upgrade-count" | merge $item -}}

        {{- $upgrade = $runeId | dict "id" | merge $upgrade -}}
        {{- $upgrade = $upgradeCount | dict "upgrade-count" | merge $upgrade -}}
    {{- end -}}

    {{- template "__rfgames_shortcode_includes__build_item_lookup__" slice $context $classes $item $upgrade -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_armors__" -}}
    {{- $context := 0 | index . -}}
    {{- $equipments := 1 | index . -}}
    {{- $profession := 2 | index . -}}
    {{- $armorRuneCounts := 3 | index . -}}

    {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $context $profession "helm" $equipments.helm $armorRuneCounts -}}
    {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $context $profession "shoulders" $equipments.shoulders $armorRuneCounts -}}
    {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $context $profession "coat" $equipments.coat $armorRuneCounts -}}
    {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $context $profession "gloves" $equipments.gloves $armorRuneCounts -}}
    {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $context $profession "leggings" $equipments.leggings $armorRuneCounts -}}
    {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $context $profession "boots" $equipments.boots $armorRuneCounts -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_consumable__" -}}
    {{- $context := 0 | index . -}}
    {{- $classes := 1 | index . | printf "is-%s" | slice "is-consumable" -}}

    {{- $item := dict -}}

    {{- with 2 | index . -}}
        {{- $id := . -}}
        {{- if . | string | eq . -}}
            {{- $id = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
        {{- end -}}
        {{- $text := slice $context $id | partial "functions/gw2-item-to-display-name.string" -}}
        {{- $item = $id | dict "id" | merge $item -}}
        {{- $item = $text | dict "text" | merge $item -}}
    {{- end -}}

    {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_consumables__" -}}
    {{- $context := 0 | index . -}}
    {{- $consumables := 1 | index . -}}

    {{- template "__rfgames_shortcode_includes__build_consumable__" slice $context "food" $consumables.food -}}
    {{- template "__rfgames_shortcode_includes__build_consumable__" slice $context "utility" $consumables.utility -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_weapon__" -}}
    {{- $context := 0 | index . -}}
    {{- $classes := 1 | index . | printf "is-%s" | slice "is-weapon" -}}
    {{- $selection := 3 | index . -}}

    {{- with 2 | index . -}}
        {{- $ids := "ids" | index . -}}
        {{- $types := "types" | index .  -}}
        {{- $stats := "stats" | index . -}}
        {{- $sigils := "sigils" | index . -}}
        {{- $infusions := "infusions" | index . -}}

        {{- $id1 := 0 | index $ids -}}
        {{- $id2 := 1 | index $ids -}}
        {{- $type1 := 0 | index $types -}}
        {{- $type2 := 1 | index $types -}}
        {{- $stat1 := 0 | index $stats -}}
        {{- $stat2 := 1 | index $stats -}}
        {{- $sigil1 := 0 | index $sigils -}}
        {{- $sigil2 := 1 | index $sigils -}}
        {{- $infusion1 := 0 | index $infusions -}}
        {{- $infusion2 := 1 | index $infusions -}}

        {{- $text1 := slice $context $id1 $stat1 | partial "functions/gw2-item-to-display-name.string" -}}
        {{- $text2 := slice $context $id2 $stat2 | partial "functions/gw2-item-to-display-name.string" -}}

        {{- with slice $context $type1 $type2 | partial "functions/gw2-item-weapon-kind.string" -}}
            {{- if . | eq "TwoHand" -}}
                {{- $classes = $classes | append "is-two-hand" -}}

                {{- with . -}}
                    {{- $item := dict -}}
                    {{- $item = $id1 | dict "id" | merge $item -}}
                    {{- $item = $stat1 | dict "stat" | merge $item -}}
                    {{- $item = $text1 | dict "text" | merge $item -}}
                    {{- $item = slice $infusion1 $infusion2 | dict "infusions" | merge $item -}}
                    {{- $item = slice $sigil1 $sigil2 | dict "upgrades" | merge $item -}}

                    {{- $upgrade := dict -}}
                    {{- $upgrade = $sigil1 | dict "id" | merge $upgrade -}}

                    {{- $classes := $classes | append "is-main-hand-slot" -}}

                    {{- template "__rfgames_shortcode_includes__build_item_lookup__" slice $context $classes $item $upgrade -}}
                {{- end -}}

                {{- with . -}}
                    {{- $item := dict -}}
                    {{- $item = -1 | dict "id" | merge $item -}}

                    {{- $upgrade := dict -}}
                    {{- $upgrade = $sigil2 | dict "id" | merge $upgrade -}}

                    {{- $classes := $classes | append "is-off-hand-slot" -}}

                    {{- template "__rfgames_shortcode_includes__build_item_lookup__" slice $context $classes $item $upgrade -}}
                {{- end -}}
            {{- end -}}
            {{- if . | eq "DualWield" -}}
                {{- $classes = $classes | append "is-dual-wield" -}}

                {{- with . -}}
                    {{- $item := dict -}}
                    {{- $item = $id1 | dict "id" | merge $item -}}
                    {{- $item = $stat1 | dict "stat" | merge $item -}}
                    {{- $item = $text1 | dict "text" | merge $item -}}
                    {{- $item = slice $infusion1 | dict "infusions" | merge $item -}}
                    {{- $item = slice $sigil1 | dict "upgrades" | merge $item -}}

                    {{- $upgrade := dict -}}
                    {{- $upgrade = $sigil1 | dict "id" | merge $upgrade -}}

                    {{- $classes := $classes | append "is-main-hand-slot" -}}

                    {{- template "__rfgames_shortcode_includes__build_item_lookup__" slice $context $classes $item $upgrade -}}
                {{- end -}}

                {{- with . -}}
                    {{- $item := dict -}}
                    {{- $item = $id2 | dict "id" | merge $item -}}
                    {{- $item = $stat2 | dict "stat" | merge $item -}}
                    {{- $item = $text2 | dict "text" | merge $item -}}
                    {{- $item = slice $infusion2 | dict "infusions" | merge $item -}}
                    {{- $item = slice $sigil2 | dict "upgrades" | merge $item -}}

                    {{- $upgrade := dict -}}
                    {{- $upgrade = $sigil2 | dict "id" | merge $upgrade -}}

                    {{- $classes := $classes | append "is-off-hand-slot" -}}

                    {{- template "__rfgames_shortcode_includes__build_item_lookup__" slice $context $classes $item $upgrade -}}
                {{- end -}}
            {{- end -}}
            {{- if . | eq "MainHandOnly" -}}
                {{- $classes = $classes | append "is-main-hand-only" -}}

                {{- with . -}}
                    {{- $item := dict -}}
                    {{- $item = $id1 | dict "id" | merge $item -}}
                    {{- $item = $stat1 | dict "stat" | merge $item -}}
                    {{- $item = $text1 | dict "text" | merge $item -}}
                    {{- $item = slice $infusion1 | dict "infusions" | merge $item -}}
                    {{- $item = slice $sigil1 | dict "upgrades" | merge $item -}}

                    {{- $upgrade := dict -}}
                    {{- $upgrade = $sigil1 | dict "id" | merge $upgrade -}}

                    {{- $classes := $classes | append "is-main-hand-slot" -}}

                    {{- template "__rfgames_shortcode_includes__build_item_lookup__" slice $context $classes $item $upgrade -}}
                {{- end -}}

                {{- with . -}}
                    {{- $item := dict -}}
                    {{- $item = -1 | dict "id" | merge $item -}}

                    {{- $classes := $classes | append "is-off-hand-slot" -}}

                    {{- template "__rfgames_shortcode_includes__build_item_lookup__" slice $context $classes $item -}}
                {{- end -}}
            {{- end -}}
            {{- if . | eq "OffHandOnly" -}}
                {{- $classes = $classes | append "is-off-hand-only" -}}

                {{- with . -}}
                    {{- $item := dict -}}
                    {{- $item = -1 | dict "id" | merge $item -}}

                    {{- $classes := $classes | append "is-main-hand-slot" -}}

                    {{- template "__rfgames_shortcode_includes__build_item_lookup__" slice $context $classes $item -}}
                {{- end -}}

                {{- with . -}}
                    {{- $item := dict -}}
                    {{- $item = $id2 | dict "id" | merge $item -}}
                    {{- $item = $stat2 | dict "stat" | merge $item -}}
                    {{- $item = $text2 | dict "text" | merge $item -}}
                    {{- $item = slice $infusion2 | dict "infusions" | merge $item -}}
                    {{- $item = slice $sigil2 | dict "upgrades" | merge $item -}}

                    {{- $upgrade := dict -}}
                    {{- $upgrade = $sigil2 | dict "id" | merge $upgrade -}}

                    {{- $classes := $classes | append "is-off-hand-slot" -}}

                    {{- template "__rfgames_shortcode_includes__build_item_lookup__" slice $context $classes $item $upgrade -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_trinket__" -}}
    {{- $context := 0 | index . -}}
    {{- $type := 1 | index . -}}
    {{- $selection := 3 | index . -}}

    {{- $classes := $type | printf "is-%s" | slice "is-trinket" -}}

    {{- $item := dict -}}

    {{- with 2 | index . -}}
        {{- $enrichmentIds := slice -}}
        {{- $infusionIds := slice -}}
        {{- $upgradeIds := slice -}}

        {{- $id := "id" | index . | default 0 -}}
        {{- $stat := "stat" | index . | default -1 -}}
        {{- $enrichment := "enrichment" | index . -}}
        {{- $enrichments := "enrichments" | index . | default slice -}}
        {{- $infusion := "infusion" | index . -}}
        {{- $infusions := "infusions" | index . | default slice -}}
        {{- $upgrade := "upgrade" | index . -}}
        {{- $upgrades := "upgrades" | index . | default slice -}}

        {{- with slice $context $type $stat nil $selection | partial "functions/gw2-search-item.dict" -}}
            {{- $id = "id" | index . -}}
            {{- $stat = "stat" | index . -}}
        {{- end -}}

        {{- with $enrichment -}}
            {{- $enrichments = $enrichments | append . -}}
        {{- end -}}

        {{- with $infusion -}}
            {{- $infusions = $infusions | append . -}}
        {{- end -}}

        {{- with $upgrade -}}
            {{- $upgrades = $upgrades | append . -}}
        {{- end -}}

        {{- range $enrichments -}}
            {{- $id := . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
            {{- $enrichmentIds = $enrichmentIds | append $id -}}
        {{- end -}}

        {{- range $infusions -}}
            {{- $id := . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
            {{- $infusionIds = $infusionIds | append $id -}}
        {{- end -}}

        {{- range $upgrades -}}
            {{- $id := . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
            {{- $upgradeIds = $upgradeIds | append $id -}}
        {{- end -}}

        {{- $text := slice $context nil $stat | partial "functions/gw2-item-to-display-name.string" -}}

        {{- $item = $id | dict "id" | merge $item -}}
        {{- $item = $stat | dict "stat" | merge $item -}}
        {{- $item = $text | dict "text" | merge $item -}}
        {{- $item = $enrichmentIds | dict "enrichments" | merge $item -}}
        {{- $item = $infusionIds | dict "infusions" | merge $item -}}
        {{- $item = $upgradeIds | dict "upgrades" | merge $item -}}
    {{- end -}}

    {{- template "__rfgames_shortcode_includes__build_item_lookup__" slice $context $classes $item -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_trinkets__" -}}
    {{- $context := 0 | index . -}}
    {{- $equipments := 1 | index . -}}

    {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $context "back" $equipments.back 0 -}}
    {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $context "accessory1" $equipments.accessory1 0 -}}
    {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $context "accessory2" $equipments.accessory2 1 -}}
    {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $context "amulet" $equipments.amulet 0 -}}
    {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $context "ring1" $equipments.ring1 0 -}}
    {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $context "ring2" $equipments.ring2 1 -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_weapons__" -}}
    {{- $context := 0 | index . -}}
    {{- $equipments := 1 | index . -}}
    {{- $profession := 2 | index . -}}
    {{- $activeTraitlines := 3 | index . -}}

    {{- $weapons := dict -}}

    {{- range $key := slice "weapon1" "weapon2" -}}
        {{- with $key | index $equipments -}}
            {{- $id := "id" | index . -}}
            {{- $type := "type" | index . -}}
            {{- $stat := "stat" | index .  -}}

            {{- $ids := "ids" | index . | default slice -}}
            {{- $types := "types" | index . | default slice  -}}
            {{- $stats := "stats" | index . | default slice -}}

            {{- $sigils := "sigils" | index . | default slice -}}
            {{- $infusions := "infusions" | index . | default slice -}}

            {{- $id1 := 0 | index $ids | default $id | default 0 -}}
            {{- $id2 := 1 | index $ids | default 0 -}}
            {{- $type1 := 0 | index $types | default $type -}}
            {{- $type2 := 1 | index $types -}}
            {{- $stat1 := 0 | index $stats | default $stat -}}
            {{- $stat2 := 1 | index $stats -}}
            {{- $sigil1 := 0 | index $sigils | default 0 -}}
            {{- $sigil2 := 1 | index $sigils | default 0 -}}
            {{- $infusion1 := 0 | index $infusions | default 0 -}}
            {{- $infusion2 := 1 | index $infusions | default 0 -}}

            {{- with slice $context $type1 $stat1 | partial "functions/gw2-search-item.dict" -}}
                {{- $id1 = "id" | index . -}}
                {{- $stat1 = "stat" | index . -}}
                {{- $type1 = "type" | index . -}}
            {{- end -}}

            {{- with slice $context $type2 $stat2 | partial "functions/gw2-search-item.dict" -}}
                {{- $id2 = "id" | index . -}}
                {{- $stat2 = "stat" | index . -}}
                {{- $type2 = "type" | index . -}}
            {{- end -}}

            {{- with $infusion1 -}}
                {{- $infusion1 = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
            {{- end -}}

            {{- with $infusion2 -}}
                {{- $infusion2 = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
            {{- end -}}

            {{- with $sigil1 -}}
                {{- $sigil1 = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
            {{- end -}}

            {{- with $sigil2 -}}
                {{- $sigil2 = . | slice $context | partial "functions/gw2-item-to-id.integer" -}}
            {{- end -}}

            {{- $weapon := dict -}}
            {{- $weapon = slice $id1 $id2 | dict "ids" | merge $weapon -}}
            {{- $weapon = slice $type1 $type2 | dict "types" | merge $weapon -}}
            {{- $weapon = slice $stat1 $stat2 | dict "stats" | merge $weapon -}}
            {{- $weapon = slice $sigil1 $sigil2 | dict "sigils" | merge $weapon -}}
            {{- $weapon = slice $infusion1 $infusion2 | dict "infusions" | merge $weapon -}}

            {{- $weapons = $weapon | dict $key | merge $weapons -}}
        {{- end -}}
    {{- end -}}

    {{- range $class, $weapon := $weapons -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_weapon__" slice $context $class $weapon -}}
        {{- template "__rfgames_shortcode_includes__build_weapon_skills__" slice $context $profession $weapon $activeTraitlines -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_skill__" -}}
    {{- $context := 0 | index . -}}
    {{- $classes := 1 | index . | printf "is-%s" | slice "is-skill" -}}
    {{- $activeTraitlines := 3 | index . -}}
    {{- $showText := 4 | index . | default true -}}

    {{- $skill := dict -}}

    {{- with 2 | index . -}}
        {{- $id := . -}}
        {{- if . | string | eq . -}}
            {{- $id = . | slice $context | partial "functions/gw2-skill-to-id.integer" -}}
        {{- end -}}
        {{- $skill = $id | dict "id" | merge $skill -}}
    {{- end -}}

    {{- with $activeTraitlines -}}
        {{- if . | len | lt 0 -}}
            {{- $skill = delimit . "," | dict "active-traitlines" | merge $skill -}}
        {{- end -}}
    {{- end -}}

    {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "skill" $classes $skill false $showText -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_skills__" -}}
    {{- $context := 0 | index . -}}
    {{- $skills := 1 | index . -}}
    {{- $activeTraitlines := 2 | index . -}}

    <div class="gw2-embed-wrapper">
        {{- range $skills | first 1 -}}
            {{- range . | first 1 -}}
                {{- template "__rfgames_shortcode_includes__build_skill__" slice $context "healing" . $activeTraitlines -}}
            {{- end -}}
        {{- end -}}
        {{- range $skills | after 1 | first 3 -}}
            {{- range . | first 1 -}}
                {{- template "__rfgames_shortcode_includes__build_skill__" slice $context "utility" . $activeTraitlines -}}
            {{- end -}}
        {{- end -}}
        {{- range $skills | after 4 -}}
            {{- range . | first 1 -}}
                {{- template "__rfgames_shortcode_includes__build_skill__" slice $context "elite" . $activeTraitlines -}}
            {{- end -}}
        {{- end -}}
    </div>
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_traitline__" -}}
    {{- $context := 0 | index . -}}
    {{- $traitlines := 2 | index . -}}

    {{- $classes := slice "is-traitline" -}}

    {{- $traitline := dict -}}

    {{- $activeTraitlines := slice -}}
    {{- range $traitlines -}}
        {{- $specializationId := 0 | index . | slice $context | partial "functions/gw2-specialization-to-id.integer" -}}
        {{- $traitSelections := . | after 1 -}}
        {{- $traitline := $specializationId | slice | append $traitSelections -}}
        {{- $activeTraitline := delimit $traitline "|" -}}
        {{- $activeTraitlines = $activeTraitlines | append $activeTraitline -}}
    {{- end -}}

    {{- with 1 | index . -}}
        {{- with 0 | index . -}}
            {{- $id := . -}}
            {{- if . | string | eq . -}}
                {{- $id = . | slice $context | partial "functions/gw2-specialization-to-id.integer" -}}
            {{- end -}}
            {{- $traitline = $id | dict "id" | merge $traitline -}}
        {{- end -}}

        {{- with . | after 1 -}}
            {{- if . | len | lt 0 -}}
                {{- $traitline = delimit . "," | dict "traits" | merge $traitline -}}
            {{- end -}}
        {{- end -}}

        {{- with $activeTraitlines -}}
            {{- if . | len | lt 0 -}}
                {{- $traitline = delimit . "," | dict "active-traitlines" | merge $traitline -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "traitline" $classes $traitline false false -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_traitlines__" -}}
    {{- $context := 0 | index . -}}
    {{- $traits := 1 | index . -}}

    {{- range $traits -}}
        {{- template "__rfgames_shortcode_includes__build_traitline__" slice $context . $traits -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_weapon_skills__" -}}
    {{- $context := 0 | index . -}}
    {{- $profession := 1 | index . -}}
    {{- $activeTraitlines := 3 | index . -}}

    {{- $weaponSkills := slice $context | partialCached "collections/gw2-weapon-skills.dict" -}}

    {{- with 2 | index . -}}
        {{- $types := "types" | index .  -}}

        {{- $type1 := 0 | index $types | string -}}
        {{- $type2 := 1 | index $types | string -}}

        {{- with $profession | slice $context | partial "functions/gw2-profession-to-id.string" | index $weaponSkills -}}
            {{- $skills := printf "%s|%s" $type1 $type2 | index . -}}
            {{- $skillCount := $skills | len -}}
            {{- range 5 | div $skillCount | seq -}}
                {{- $offset := 1 | sub . | mul 5 -}}
                <div class="gw2-embed-wrapper">
                    {{- range $skills | after $offset | first 5 -}}
                        {{- template "__rfgames_shortcode_includes__build_skill__" slice $context "weapon-skill" . $activeTraitlines false -}}
                    {{- end -}}
                </div>
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

<div class="build-card is-armors">
    <h5 class="title">Armors</h5>
    <div class="build-card-content">
        {{- template "__rfgames_shortcode_includes__build_equipment_armors__" slice $ $equipments $template.profession $armorRuneCounts -}}
    </div>
</div>

<div class="build-card is-consumables">
    <h5 class="title">Consumables</h5>
    <div class="build-card-content">
        {{- template "__rfgames_shortcode_includes__build_consumables__" slice $ $consumables -}}
    </div>
</div>

<div class="build-card is-skills">
    <h5 class="title">Skills</h5>
    <div class="build-card-content">
        <div class="gw2-embed-wrapper">
            {{- template "__rfgames_shortcode_includes__build_skills__" slice $ $template.skills $activeTraitlines -}}
        </div>
    </div>
</div>

<div class="build-card is-specializations">
    <h5 class="title">Specializations</h5>
    <div class="build-card-content">
        {{- template "__rfgames_shortcode_includes__build_traitlines__" slice $ $template.traits $activeTraitlines -}}
    </div>
</div>

<div class="build-card is-template">
    <div class="build-card-content">
        <span class="template-addon">Template</a></span>
        <span class="template-code" data-auto-selection>{{ $chatcode }}</span>
        <button
            class="template-copy"
            data-clipboard-text="{{ $chatcode }}"
            data-clipboard-message="Copied {{ .Page.Title }} template code to clipboard"
        >Copy</button>
    </div>
</div>

<div class="build-card is-trinkets">
    <h5 class="title">Trinkets</h5>
    <div class="build-card-content">
        {{- template "__rfgames_shortcode_includes__build_equipment_trinkets__" slice $ $equipments -}}
    </div>
</div>

<div class="build-card is-weapons">
    <h5 class="title">Weapons</h5>
    <div class="build-card-content">
        {{- template "__rfgames_shortcode_includes__build_equipment_weapons__" slice $ $equipments $template.profession $activeTraitlines -}}
    </div>
</div>
