{{- $build := .Page.Params.build -}}

{{- $credits := $build.credits | default dict -}}
{{- $ratings := $build.ratings | default dict -}}
{{- $traits := $build.template.traits -}}

{{- define "__rfgames_shortcode__build_overview_summary_rating__" -}}
    {{- $effects := "effects" | index . | default slice -}}
    {{- $kind := "kind" | index . | default "" -}}
    {{- $rating := "rating" | index . | default 0 -}}

    {{- $title := slice $kind | partial "functions/build-rating-title.string" -}}
    {{- $text := slice $kind $rating | partial "functions/build-rating-text.string" -}}

    <div class="rating">
        <div class="rating-title">{{ $title }}</div>
        {{- if $rating -}}
            <div class="rating-text">{{ $text }}</div>
            <div class="rating-gauge">
                {{- range slice 1 2 3 4 5 -}}
                    {{- if $rating | le . -}}
                        <span class="rating-cell is-fill"></span>
                    {{- else -}}
                        <span class="rating-cell"></span>
                    {{- end -}}
                {{- end -}}
            </div>
        {{- end -}}
        {{- if $effects | len | lt 0 -}}
            <div class="rating-effects">
                {{- range $effects -}}
                    {{- . | title | dict "disable-text" true "id" | slice "effect" false | partial "elements/embed.html" -}}
                {{- end -}}
            </div>
        {{- end -}}
    </div>
{{- end -}}

{{- define "__rfgames_shortcode__build_overview_specialization__" -}}
    {{- $id := 0 | index . -}}
    {{- $traits := . | after 1 -}}

    {{- $id | dict "disable-text" true "id" | slice "specialization" false | partial "elements/embed.html" -}}
{{- end -}}

<div class="page-section-build-overview">
    <div class="build-overview">
        {{ .Inner }}
    </div>

    <div class="build-specializations">
        {{- range $traits -}}
            {{- template "__rfgames_shortcode__build_overview_specialization__" . -}}
        {{- end -}}
    </div>

    <div class="build-summary">
        {{- range $ratings -}}
            {{- template "__rfgames_shortcode__build_overview_summary_rating__" . -}}
        {{- end -}}
    </div>

    <div class="build-tags">
        <div class="tags">
            <div class="tags has-addons">
                <span class="tag">Credit</span>
                <span class="tag">{{ $credits.designer }}</span>
            </div>
            <div class="tags has-addons">
                <span class="tag">Updated</span>
                <span class="tag">{{ .Page.Lastmod.Format "2006 / 01 / 02" }}</span>
            </div>
            <div class="tags has-addons">
                <span class="tag">Source</span>
                <span class="tag"><a href="{{ .Site.Params.gitRepository }}/blob/{{ with .Page.GitInfo }}{{ .AbbreviatedHash }}{{ else }}master{{ end }}/content/{{ .Page.File.Path }}">{{ with .Page.GitInfo }}{{ .AbbreviatedHash }}{{ else }}master{{ end }}</a></span>
            </div>
        </div>
    </div>
</div>
