{{- $armorParts := slice "head" "shoulders" "coat" "gloves" "leggings" "boots" -}}
{{- $armorRuneCounts := dict -}}

{{- $build := .Page.Params.build -}}

{{- $consumables := $build.consumables -}}
{{- $equipments := $build.equipments -}}
{{- $template := $build.template -}}

{{- $chatcode := slice $ "build" $template | partial "functions/gw2-chat-link.string" -}}

{{- range $armorParts -}}
    {{- $armorItem := . | index $equipments -}}
    {{- $armorRune := "rune" | index $armorItem -}}
    {{- with $armorRune | string -}}
        {{- $armorRuneCounts = . | index $armorRuneCounts | default 0 | add 1 | dict . | merge $armorRuneCounts -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_embed__" -}}
    {{- $context := 0 | index . -}}
    {{- $type := 1 | index . -}}
    {{- $classes := 2 | index . -}}
    {{- $item := 3 | index . -}}
    {{- $upgrade := 4 | index . -}}
    {{- $showText := 5 | index . | default true -}}

    <div class="build-card-embed {{ delimit $classes " " }}">
        {{- with $item -}}
            {{- $data := $item -}}
            {{- $data = true | dict "disable-text" | merge $data -}}

            {{- if "id" | index $data | gt 0 -}}
                {{- $data = true | dict "disable-tooltip" | merge $data -}}
            {{- end -}}

            {{- slice "build-card-icon" | slice $context $type false $data | partial "elements/embed.html" -}}
        {{- end -}}

        {{- if $showText -}}
            {{- with $item -}}
                {{- $data := $item -}}
                {{- $data = true | dict "disable-icon" | merge $data -}}

                {{- if "id" | index $data | gt 0 -}}
                    {{- $data = true | dict "disable-text" | merge $data -}}
                {{- end -}}

                {{- slice "build-card-text" | slice $context $type false $data | partial "elements/embed.html" -}}
            {{- end -}}
        {{- end -}}

        {{- with $upgrade -}}
            {{- $classes := slice "build-card-upgrade" -}}
            {{- template "__rfgames_shortcode_includes__build_embed__" slice $context $type $classes . -}}
        {{- end -}}
    </div>
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_armor__" -}}
    {{- $context := 0 | index . -}}
    {{- $classes := 1 | index . | printf "is-%s" | slice "is-armor" -}}
    {{- $armorRuneCounts := 3 | index . -}}

    {{- with 2 | index . -}}
        {{- $id := "id" | index . -}}
        {{- $name := "name" | index . -}}
        {{- $stat := "stat" | index . | default -1 -}}
        {{- $infusion := "infusion" | index . -}}
        {{- $rune := "rune" | index . -}}
        {{- $upgradeCount := 0 -}}

        {{- with $rune -}}
            {{- $upgradeCount = . | string | index $armorRuneCounts -}}
        {{- end -}}

        {{- $item := dict -}}
        {{- $item = $id | dict "id" | merge $item -}}
        {{- $item = $stat | dict "stat" | merge $item -}}
        {{- $item = $infusion | dict "infusions" | merge $item -}}
        {{- $item = $rune | dict "upgrades" | merge $item -}}
        {{- $item = $upgradeCount | dict "upgrade-count" | merge $item -}}

        {{- if $id | string | eq $id -}}
            {{- $item = $id | dict "name" | merge $item -}}
        {{- end -}}

        {{- with $name -}}
            {{- $item = $name | dict "text" | merge $item -}}
        {{- end -}}

        {{- $upgrade := dict -}}
        {{- $upgrade = $upgradeCount | dict "upgrade-count" | merge $upgrade -}}

        {{- if $rune | string | eq $rune -}}
            {{- $upgrade = $rune | dict "name" | merge $upgrade -}}
        {{- end -}}

        {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item $upgrade -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_weapon__" -}}
    {{- $context := 0 | index . -}}
    {{- $classes := 1 | index . | printf "is-%s" | slice "is-weapon" -}}

    {{- with 2 | index . -}}
        {{- $kind := "kind" | index . -}}

        {{- $weapon := "weapon" | index . -}}
        {{- $weapon1 := "weapon1" | index . -}}
        {{- $weapon2 := "weapon2" | index . -}}
        {{- $sigil1 := "sigil1" | index . -}}
        {{- $sigil2 := "sigil2" | index . -}}
        {{- $infusion1 := "infusion1" | index . -}}
        {{- $infusion2 := "infusion2" | index . -}}

        {{- if $kind | eq "DualWield" -}}
            {{- with $weapon1 -}}
                {{- $id := "id" | index . -}}
                {{- $name := "name" | index . -}}
                {{- $stat := "stat" | index . | default -1 -}}

                {{- $item := dict -}}
                {{- $item = $id | dict "id" | merge $item -}}
                {{- $item = $stat | dict "stat" | merge $item -}}
                {{- $item = $infusion1 | dict "infusions" | merge $item -}}
                {{- $item = $sigil1 | dict "upgrades" | merge $item -}}

                {{- if $id | string | eq $id -}}
                    {{- $item = $id | dict "name" | merge $item -}}
                {{- end -}}

                {{- with $name -}}
                    {{- $item = $name | dict "text" | merge $item -}}
                {{- end -}}

                {{- $upgrade := dict -}}
                {{- $upgrade = $sigil1 | dict "id" | merge $upgrade -}}

                {{- if $sigil1 | string | eq $sigil1 -}}
                    {{- $upgrade = $sigil1 | dict "name" | merge $upgrade -}}
                {{- end -}}

                {{- $classes = $classes | append "is-dual-wield" -}}
                {{- $classes = $classes | append "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item $upgrade -}}
            {{- end -}}

            {{- with $weapon2 -}}
                {{- $id := "id" | index . -}}
                {{- $name := "name" | index . -}}
                {{- $stat := "stat" | index . | default -1 -}}

                {{- $item := dict -}}
                {{- $item = $id | dict "id" | merge $item -}}
                {{- $item = $stat | dict "stat" | merge $item -}}
                {{- $item = $infusion2 | dict "infusions" | merge $item -}}
                {{- $item = $sigil2 | dict "upgrades" | merge $item -}}

                {{- if $id | string | eq $id -}}
                    {{- $item = $id | dict "name" | merge $item -}}
                {{- end -}}

                {{- with $name -}}
                    {{- $item = $name | dict "text" | merge $item -}}
                {{- end -}}

                {{- $upgrade := dict -}}
                {{- $upgrade = $sigil2 | dict "id" | merge $upgrade -}}

                {{- if $sigil2 | string | eq $sigil2 -}}
                    {{- $upgrade = $sigil2 | dict "name" | merge $upgrade -}}
                {{- end -}}

                {{- $classes = $classes | append "is-dual-wield" -}}
                {{- $classes = $classes | append "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item $upgrade -}}
            {{- end -}}
        {{- end -}}
        {{- if $kind | eq "MainHandOnly" -}}
            {{- with $weapon1 -}}
                {{- $id := "id" | index . -}}
                {{- $name := "name" | index . -}}
                {{- $stat := "stat" | index . | default -1 -}}

                {{- $item := dict -}}
                {{- $item = $id | dict "id" | merge $item -}}
                {{- $item = $stat | dict "stat" | merge $item -}}
                {{- $item = $infusion1 | dict "infusions" | merge $item -}}
                {{- $item = $sigil1 | dict "upgrades" | merge $item -}}

                {{- if $id | string | eq $id -}}
                    {{- $item = $id | dict "name" | merge $item -}}
                {{- end -}}

                {{- with $name -}}
                    {{- $item = $name | dict "text" | merge $item -}}
                {{- end -}}

                {{- $upgrade := dict -}}
                {{- $upgrade = $sigil1 | dict "id" | merge $upgrade -}}

                {{- if $sigil1 | string | eq $sigil1 -}}
                    {{- $upgrade = $sigil1 | dict "name" | merge $upgrade -}}
                {{- end -}}

                {{- $classes = $classes | append "is-main-hand-only" -}}
                {{- $classes = $classes | append "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item $upgrade -}}
            {{- end -}}

            {{- with . -}}
                {{- $item := dict "id" -1 -}}

                {{- $classes = $classes | append "is-main-hand-only" -}}
                {{- $classes = $classes | append "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item -}}
            {{- end -}}
        {{- end -}}
        {{- if $kind | eq "OffHandOnly" -}}
            {{- with . -}}
                {{- $item := dict "id" -1 -}}

                {{- $classes = $classes | append "is-off-hand-only" -}}
                {{- $classes = $classes | append "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item -}}
            {{- end -}}

            {{- with $weapon2 -}}
                {{- $id := "id" | index . -}}
                {{- $name := "name" | index . -}}
                {{- $stat := "stat" | index . | default -1 -}}

                {{- $item := dict -}}
                {{- $item = $id | dict "id" | merge $item -}}
                {{- $item = $stat | dict "stat" | merge $item -}}
                {{- $item = $infusion2 | dict "infusions" | merge $item -}}
                {{- $item = $sigil2 | dict "upgrades" | merge $item -}}

                {{- if $id | string | eq $id -}}
                    {{- $item = $id | dict "name" | merge $item -}}
                {{- end -}}

                {{- with $name -}}
                    {{- $item = $name | dict "text" | merge $item -}}
                {{- end -}}

                {{- $upgrade := dict -}}
                {{- $upgrade = $sigil2 | dict "id" | merge $upgrade -}}

                {{- if $sigil2 | string | eq $sigil2 -}}
                    {{- $upgrade = $sigil2 | dict "name" | merge $upgrade -}}
                {{- end -}}

                {{- $classes = $classes | append "is-off-hand-only" -}}
                {{- $classes = $classes | append "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item $upgrade -}}
            {{- end -}}
        {{- end -}}
        {{- if $kind | eq "TwoHand" -}}
            {{- with $weapon -}}
                {{- $id := "id" | index . -}}
                {{- $name := "name" | index . -}}
                {{- $stat := "stat" | index . | default -1 -}}

                {{- $sigils := slice $sigil1 $sigil2 -}}
                {{- $infusions := slice $infusion1 $infusion2 -}}

                {{- $item := dict -}}
                {{- $item = $id | dict "id" | merge $item -}}
                {{- $item = $stat | dict "stat" | merge $item -}}
                {{- $item = delimit $infusions "," | dict "infusions" | merge $item -}}
                {{- $item = delimit $sigils "," | dict "upgrades" | merge $item -}}

                {{- if $id | string | eq $id -}}
                    {{- $item = $id | dict "name" | merge $item -}}
                {{- end -}}

                {{- with $name -}}
                    {{- $item = $name | dict "text" | merge $item -}}
                {{- end -}}

                {{- $upgrade := dict -}}
                {{- $upgrade = $sigil1 | dict "id" | merge $upgrade -}}

                {{- if $sigil1 | string | eq $sigil1 -}}
                    {{- $upgrade = $sigil1 | dict "name" | merge $upgrade -}}
                {{- end -}}

                {{- $classes = $classes | append "is-two-hand" -}}
                {{- $classes = $classes | append "is-main-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item $upgrade -}}
            {{- end -}}

            {{- with . -}}
                {{- $sigils := slice $sigil1 $sigil2 -}}
                {{- $infusions := slice $infusion1 $infusion2 -}}

                {{- $item := dict -}}
                {{- $item = -1 | dict "id" | merge $item -}}
                {{- $item = delimit $infusions "," | dict "infusions" | merge $item -}}
                {{- $item = delimit $sigils "," | dict "upgrades" | merge $item -}}

                {{- $upgrade := dict -}}
                {{- $upgrade = $sigil2 | dict "id" | merge $upgrade -}}

                {{- if $sigil2 | string | eq $sigil2 -}}
                    {{- $upgrade = $sigil2 | dict "name" | merge $upgrade -}}
                {{- end -}}

                {{- $classes = $classes | append "is-two-hand" -}}
                {{- $classes = $classes | append "is-off-hand-slot" -}}

                {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item $upgrade -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_equipment_trinket__" -}}
    {{- $context := 0 | index . -}}
    {{- $classes := 1 | index . | printf "is-%s" | slice "is-trinket" -}}

    {{- with 2 | index . -}}
        {{- $id := "id" | index . -}}
        {{- $name := "name" | index . -}}
        {{- $stat := "stat" | index . | default -1 -}}
        {{- $infusion := "infusion" | index . -}}
        {{- $infusions := "infusions" | index . | default slice -}}
        {{- $upgrade := "upgrade" | index . -}}
        {{- $upgrades := "upgrades" | index . | default slice -}}

        {{- with $infusion -}}
            {{- $infusions = $infusions | append . -}}
        {{- end -}}

        {{- with $upgrade -}}
            {{- $upgrades = $upgrades | append . -}}
        {{- end -}}

        {{- $item := dict -}}
        {{- $item = $id | dict "id" | merge $item -}}
        {{- $item = $stat | dict "stat" | merge $item -}}
        {{- $item = delimit $infusions "," | dict "infusions" | merge $item -}}
        {{- $item = delimit $upgrades "," | dict "upgrades" | merge $item -}}

        {{- if $id | string | eq $id -}}
            {{- $item = $id | dict "name" | merge $item -}}
        {{- end -}}

        {{- with $name -}}
            {{- $item = $name | dict "text" | merge $item -}}
        {{- end -}}

        {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_consumable__" -}}
    {{- $context := 0 | index . -}}
    {{- $classes := 1 | index . | printf "is-%s" | slice "is-consumable" -}}

    {{- with 2 | index . -}}
        {{- $id := "id" | index . -}}
        {{- $name := "name" | index . -}}

        {{- $item := dict -}}
        {{- $item = $id | dict "id" | merge $item -}}

        {{- if $id | string | eq $id -}}
            {{- $item = $id | dict "name" | merge $item -}}
        {{- end -}}

        {{- with $name -}}
            {{- $item = $name | dict "text" | merge $item -}}
        {{- end -}}

        {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "item" $classes $item -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_skill__" -}}
    {{- $context := 0 | index . -}}
    {{- $classes := 1 | index . | printf "is-%s" | slice "is-skill" -}}
    {{- $traitlines := 3 | index . -}}
    {{- $showText := 4 | index . | default true -}}

    {{- $activeTraitlines := slice -}}
    {{- range $traitlines -}}
        {{- $traitline := delimit . "|" -}}
        {{- $activeTraitlines = $activeTraitlines | append $traitline -}}
    {{- end -}}

    {{- with 2 | index . -}}
        {{- $skill := dict -}}
        {{- $skill = . | dict "id" | merge $skill -}}
        {{- $skill = delimit $activeTraitlines "," | dict "active-traitlines" | merge $skill -}}

        {{- if . | string | eq . -}}
            {{- $skill = . | dict "name" | merge $skill -}}
        {{- end -}}

        {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "skill" $classes $skill false $showText -}}
    {{- end -}}
{{- end -}}

{{- define "__rfgames_shortcode_includes__build_traitline__" -}}
    {{- $context := 0 | index . -}}
    {{- $traitlines := 2 | index . -}}

    {{- $activeTraitlines := slice -}}
    {{- range $traitlines -}}
        {{- $traitline := delimit . "|" -}}
        {{- $activeTraitlines = $activeTraitlines | append $traitline -}}
    {{- end -}}

    {{- with 1 | index . -}}
        {{- $id := 0 | index . -}}
        {{- $traits := . | after 1 -}}

        {{- $classes := slice "is-traitline" -}}

        {{- $traitline := dict -}}
        {{- $traitline = $id | dict "id" | merge $traitline -}}
        {{- $traitline = delimit $traits "," | dict "traits" | merge $traitline -}}
        {{- $traitline = delimit $activeTraitlines "," | dict "active-traitlines" | merge $traitline -}}

        {{- if $id | string | eq $id -}}
            {{- $traitline = $id | dict "name" | merge $traitline -}}
        {{- end -}}

        {{- template "__rfgames_shortcode_includes__build_embed__" slice $context "traitline" $classes $traitline false false -}}
    {{- end -}}
{{- end -}}

<div class="build-card is-armors">
    <h5 class="title">Armors</h5>
    <div class="build-card-content">
        {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $ "head" $equipments.head $armorRuneCounts -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $ "shoulders" $equipments.shoulders $armorRuneCounts -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $ "coat" $equipments.coat $armorRuneCounts -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $ "gloves" $equipments.gloves $armorRuneCounts -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $ "leggings" $equipments.leggings $armorRuneCounts -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_armor__" slice $ "boots" $equipments.boots $armorRuneCounts -}}
    </div>
</div>

<div class="build-card is-consumables">
    <h5 class="title">Consumables</h5>
    <div class="build-card-content">
        {{- template "__rfgames_shortcode_includes__build_consumable__" slice $ "food" $consumables.food -}}
        {{- template "__rfgames_shortcode_includes__build_consumable__" slice $ "utility" $consumables.utility -}}
    </div>
</div>

<div class="build-card is-skills">
    <h5 class="title">Skills</h5>
    <div class="build-card-content">
        <div class="gw2-embed-wrapper">
            {{- range $template.skills | first 1 -}}
                {{- range . | first 1 -}}
                    {{- template "__rfgames_shortcode_includes__build_skill__" slice $ "healing" . $template.traits -}}
                {{- end -}}
            {{- end -}}
            {{- range $template.skills | after 1 | first 3 -}}
                {{- range . | first 1 -}}
                    {{- template "__rfgames_shortcode_includes__build_skill__" slice $ "utility" . $template.traits -}}
                {{- end -}}
            {{- end -}}
            {{- range $template.skills | after 4 -}}
                {{- range . | first 1 -}}
                    {{- template "__rfgames_shortcode_includes__build_skill__" slice $ "elite" . $template.traits -}}
                {{- end -}}
            {{- end -}}
        </div>
    </div>
</div>

<div class="build-card is-specializations">
    <h5 class="title">Specializations</h5>
    <div class="build-card-content">
        {{- range $template.traits -}}
            {{- template "__rfgames_shortcode_includes__build_traitline__" slice $ . $template.traits -}}
        {{- end -}}
    </div>
</div>

<div class="build-card is-template">
    <div class="build-card-content">
        <span class="template-addon">Template</a></span>
        <span class="template-code" data-auto-selection>{{ $chatcode }}</span>
        <button
            class="template-copy"
            data-clipboard-text="{{ $chatcode }}"
            data-clipboard-message="Copied {{ .Page.Title }} template code to clipboard"
        >Copy</button>
    </div>
</div>

<div class="build-card is-trinkets">
    <h5 class="title">Trinkets</h5>
    <div class="build-card-content">
        {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $ "back" $equipments.back -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $ "accessory1" $equipments.accessory1 -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $ "accessory2" $equipments.accessory2 -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $ "amulet" $equipments.amulet -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $ "ring1" $equipments.ring1 -}}
        {{- template "__rfgames_shortcode_includes__build_equipment_trinket__" slice $ "ring2" $equipments.ring2 -}}
    </div>
</div>

<div class="build-card is-weapons">
    <h5 class="title">Weapons</h5>
    <div class="build-card-content">
        {{- template "__rfgames_shortcode_includes__build_equipment_weapon__" slice $ "weapon1" $equipments.weapon1 -}}
        <div class="gw2-embed-wrapper">
            {{- range $equipments.weapon1.skills -}}
                {{- template "__rfgames_shortcode_includes__build_skill__" slice $ "weapon-skill" . $template.traits false -}}
            {{- end -}}
        </div>
        {{- template "__rfgames_shortcode_includes__build_equipment_weapon__" slice $ "weapon2" $equipments.weapon2 -}}
        <div class="gw2-embed-wrapper">
            {{- range $equipments.weapon2.skills -}}
                {{- template "__rfgames_shortcode_includes__build_skill__" slice $ "weapon-skill" . $template.traits false -}}
            {{- end -}}
        </div>
    </div>
</div>
