{{- $accessToken := getenv "GW2_ACCESS_TOKEN" -}}

{{- $worlds := slice $ $accessToken | partialCached "apis/gw2-get-current-worlds.list" -}}

{{- $account := dict -}}
{{- if $accessToken | ne "" -}}
    {{- $account = slice $ $accessToken | partial "apis/gw2-get-account.dict" -}}
{{- end -}}

{{- $mainWorlds := slice -}}
{{- $linkedWorlds := slice -}}

{{- range $worlds -}}
    {{- $worldName := . | slice $ | partial "apis/gw2-get-world-name.string" -}}
    {{- if . | eq $account.world -}}
        {{- $mainWorlds = $mainWorlds | append $worldName -}}
    {{- else -}}
        {{- $linkedWorlds = $linkedWorlds | append $worldName -}}
    {{- end -}}
{{- end -}}

{{- range $mainWorlds -}}
    {{- if len $linkedWorlds | lt 0 -}}
        <strong>{{ . }}</strong> (linked with <strong>{{ delimit $linkedWorlds "</strong> and <strong>" }}</strong>)
    {{- else -}}
        <strong>{{ . }}</strong>
    {{- end -}}
{{- else -}}
    <strong>Unknown</strong>
{{- end -}}
