{{- $class := .Get "class" -}}
{{- $title := .Get "title" -}}

{{- $level := slice $ .Name | partial "functions/get-shortcode-nest-level.integer" -}}

{{- $classes := "content" | slice -}}

{{- with $class -}}
    {{- $classes = $classes | append $class -}}
{{- end -}}

<section class="section">
    {{- if $level | eq 0 -}}
        <h4 class="title">{{ $title }}</h4>
    {{- end -}}

    {{- if $level | eq 1 -}}
        <h5 class="title">{{ $title }}</h5>
    {{- end -}}

    {{- if $level | le 2 -}}
        <h6 class="title">{{ $title }}</h6>
    {{- end -}}

    <div class="{{ delimit $classes " " }}">
        {{- .Inner -}}
    </div>
</section>
