<div class="tabs">
    <div class="tab-nav">
        <ul>
            {{- range $index, $title := .Scratch.Get "tab-list" -}}
                {{- if $index | eq 0 -}}
                    <li class="is-active">
                        <a>{{ $title }}</a>
                    </li>
                {{- else -}}
                    <li>
                        <a>{{ $title }}</a>
                    </li>
                {{- end -}}
            {{- end -}}
        </ul>
    </div>

    <div class="tab-content">
        {{- .Inner -}}
    </div>
</div>
