::selection,
::-moz-selection {
    background-color: var(--selection-background-color);
}

html {
    scrollbar-color: var(--scrollbar-foreground-color) var(--scrollbar-background-color);
    scrollbar-width: var(--scrollbar-width);
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    min-width: var(--body-min-width);
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    transition: background-color var(--easing) var(--speed), color var(--easing) var(--speed);

    @include has-hover() {
        color: var(--link-hover-color);
    }
}
