.has-text-danger {
    color: var(--danger-color);
}

.has-text-info {
    color: var(--info-color);
}

.has-text-success {
    color: var(--success-color);
}

.has-text-warning {
    color: var(--warning-color);
}
