/* ========================================================================== *\
 * Modifiers                                                                  *
\* ========================================================================== */
@mixin has-active() {
    &:active,
    &.is-active {
        @content;
    }
}

@mixin has-disabled() {
    &.is-disabled,
    &[disabled],
    fieldset[disabled] & {
        @content;
    }
}

@mixin has-focus() {
    &:focus,
    &.is-focused {
        @content;
    }
}

@mixin has-hover() {
    &:hover,
    &.is-hovered {
        @content;
    }
}

/* ========================================================================== *\
 * Elements                                                                   *
\* ========================================================================== */
@mixin arrow($color) {
    border: 0.125rem solid $color;
    border-right: 0;
    border-top: 0;
    content: '';
    display: block;
    height: 0.5rem;
    margin-top: -0.375rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.5rem;
}

@mixin block($spacing: var(--block-spacing)) {
    &:not(:last-child) {
        margin-bottom: $spacing;
    }
}

@mixin control() {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    appearance: none;
    border-radius: var(--control-radius);
    border: none;
    box-shadow: none;
    display: inline-flex;
    font-size: var(--control-font-size);
    justify-content: flex-start;
    padding: var(--control-padding-horizontal) var(--control-padding-vertical);
    position: relative;

    @include has-active() {
        outline: none;
    }

    @include has-disabled() {
        cursor: not-allowed;
    }

    @include has-focus() {
        outline: none;
    }
}

@mixin loader($dimensions: 1rem, $width: 0.125rem) {
    animation: spin-around 360ms infinite linear;
    border-radius: $radius-rounded;
    border: $width solid $loader-color;
    border-right-color: transparent;
    border-top-color: transparent;
    content: '';
    display: block;
    height: $dimensions;
    left: calc(50% - #{$dimensions / 2});
    position: absolute;
    top: calc(50% - #{$dimensions / 2});
    width: $dimensions;
}

@mixin overlay($offset: 0) {
    bottom: $offset;
    left: $offset;
    position: absolute;
    right: $offset;
    top: $offset;
}

@mixin unselectable() {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

/* ========================================================================== *\
 * Responsiveness                                                             *
\* ========================================================================== */
@mixin between($from, $until) {
    @media screen and (min-width: $from) and (max-width: $until) {
        @content;
    }
}

@mixin from($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin until($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin mobile() {
    @include until($tablet-breakpoint - 1) {
        @content;
    }
}

@mixin tablet() {
    @include from($tablet-breakpoint) {
        @content;
    }
}

@mixin desktop() {
    @include from($desktop-breakpoint) {
        @content;
    }
}
