/* ========================================================================== *\
 * Palettes                                                                   *
\* ========================================================================== */
$primary-palette: (
    100: hsl(195, 79%, 92%),
    200: hsl(198, 79%, 85%),
    300: hsl(201, 65%, 74%),
    400: hsl(204, 52%, 63%),
    500: hsl(207, 44%, 49%),
    600: hsl(210, 50%, 40%),
    700: hsl(214, 57%, 32%),
    800: hsl(217, 65%, 25%),
    900: hsl(220, 74%, 19%)
) !default;

$accent-palette: (
    100: hsl(37, 68%, 96%),
    200: hsl(36, 70%, 89%),
    300: hsl(36, 70%, 79%),
    400: hsl(36, 71%, 68%),
    500: hsl(36, 71%, 62%),
    600: hsl(36, 45%, 51%),
    700: hsl(36, 44%, 34%),
    800: hsl(36, 44%, 17%),
    900: hsl(37, 45%, 6%)
) !default;

$info-palette: (
    100: hsl(189, 94%, 93%),
    200: hsl(194, 97%, 87%),
    300: hsl(197, 98%, 80%),
    400: hsl(201, 97%, 75%),
    500: hsl(204, 96%, 67%),
    600: hsl(208, 66%, 55%),
    700: hsl(211, 61%, 44%),
    800: hsl(215, 68%, 34%),
    900: hsl(218, 76%, 27%)
) !default;

$success-palette: (
    100: hsl(126, 84%, 90%),
    200: hsl(132, 86%, 81%),
    300: hsl(138, 76%, 69%),
    400: hsl(144, 65%, 58%),
    500: hsl(150, 75%, 43%),
    600: hsl(156, 79%, 36%),
    700: hsl(162, 83%, 30%),
    800: hsl(168, 87%, 23%),
    900: hsl(174, 90%, 19%)
) !default;

$warning-palette: (
    100: hsl(46, 95%, 92%),
    200: hsl(44, 95%, 84%),
    300: hsl(42, 90%, 76%),
    400: hsl(40, 86%, 69%),
    500: hsl(38, 83%, 58%),
    600: hsl(36, 65%, 48%),
    700: hsl(33, 71%, 39%),
    800: hsl(31, 77%, 30%),
    900: hsl(29, 82%, 24%)
) !default;

$danger-palette: (
    100: hsl(16, 100%, 93%),
    200: hsl(11, 100%, 85%),
    300: hsl(5, 100%, 78%),
    400: hsl(0, 100%, 73%),
    500: hsl(354, 100%, 64%),
    600: hsl(349, 70%, 53%),
    700: hsl(343, 68%, 43%),
    800: hsl(337, 74%, 33%),
    900: hsl(332, 81%, 26%)
) !default;

$shade-palette: (
    100: hsl(0, 0%, 95%),
    200: hsl(0, 0%, 86%),
    300: hsl(0, 0%, 73%),
    400: hsl(0, 0%, 59%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 41%),
    700: hsl(0, 0%, 27%),
    800: hsl(0, 0%, 14%),
    900: hsl(0, 0%, 5%)
) !default;

/* ========================================================================== *\
 * Colors                                                                     *
\* ========================================================================== */
$button-background-active-color: map-get($primary-palette, 600) !default;
$button-background-color: map-get($primary-palette, 500) !default;
$button-background-danger-color: map-get($danger-palette, 500) !default;
$button-background-focus-color: map-get($primary-palette, 600) !default;
$button-background-hover-color: map-get($primary-palette, 600) !default;
$button-background-success-color: map-get($success-palette, 500) !default;
$button-text-active-color: map-get($shade-palette, 100) !default;
$button-text-color: map-get($shade-palette, 900) !default;
$button-text-danger-color: map-get($shade-palette, 100) !default;
$button-text-focus-color: map-get($shade-palette, 100) !default;
$button-text-hover-color: map-get($shade-palette, 100) !default;
$button-text-success-color: map-get($shade-palette, 100) !default;

$link-color: map-get($primary-palette, 300) !default;
$link-active-color: map-get($primary-palette, 100) !default;
$link-focus-color: map-get($primary-palette, 100) !default;
$link-hover-color: map-get($primary-palette, 100) !default;

$background-color: map-get($shade-palette, 900) !default;
$background-alternative-color: map-get($shade-palette, 800) !default;
$background-form-color: map-get($shade-palette, 700) !default;
$foreground-color: map-get($shade-palette, 100) !default;
$foreground-alternative-color: map-get($shade-palette, 200) !default;
$foreground-form-color: map-get($shade-palette, 100) !default;

/* ========================================================================== *\
 * Typography                                                                 *
\* ========================================================================== */
$font-family: Roboto, 'Noto Sans TC', sans-serif !default;

$font-size-1: 3rem !default;
$font-size-2: 2.5rem !default;
$font-size-3: 2rem !default;
$font-size-4: 1.5rem !default;
$font-size-5: 1.25rem !default;
$font-size-6: 1rem !default;
$font-size-7: 0.75rem !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

/* ========================================================================== *\
 * Responsiveness                                                             *
\* ========================================================================== */
$gap: 32px !default;
$tablet-breakpoint: 769px !default;
$desktop-breakpoint: 960px + (2 * $gap) !default;

/* ========================================================================== *\
 * Miscellaneous                                                              *
\* ========================================================================== */
$block-spacing: 1.5rem !default;
$delay: 240ms !default;
$easing: ease-in-out !default;
$radius-large: 6px !default;
$radius-rounded: 290486px !default;
$radius-small: 2px !default;
$radius: 4px !default;
$speed: 86ms !default;

:root {
    // Primitive
    --brand-color: #{map-get($primary-palette, 500)};
    --danger-color: #{map-get($danger-palette, 500)};
    --info-color: #{map-get($info-palette, 500)};
    --success-color: #{map-get($success-palette, 500)};
    --warning-color: #{map-get($warning-palette, 500)};

    --block-spacing: #{$block-spacing};
    --border-color: #{$background-alternative-color};
    --delay-long: #{$delay * 1.5};
    --delay-short: #{$delay / 1.5};
    --delay: #{$delay};
    --drop-shadow: 0 0.5rem 0.5rem #{rgba($background-color, 0.15)};
    --easing: #{$easing};
    --selection-background-color: #{map-get($primary-palette, 700)};
    --speed-fast: #{$speed / 1.5};
    --speed-slow: #{$speed * 1.5};
    --speed: #{$speed};
    --text-shadow: 0.125rem 0.125rem 0.25rem #{rgba($background-color, 0.15)};

    --tablet-breakpoint: #{$tablet-breakpoint};
    --desktop-breakpoint: #{$desktop-breakpoint};

    // Base
    --link-color: #{$link-color};
    --link-hover-color: #{$link-hover-color};

    --body-background-color: #{$background-color};
    --body-font-family: #{$font-family};
    --body-font-size: 16px;
    --body-min-width: 300px;
    --body-text-color: #{$foreground-color};

    --button-background-active-color: #{$button-background-active-color};
    --button-background-color: #{$button-background-color};
    --button-background-danger-color: #{$button-background-danger-color};
    --button-background-focus-color: #{$button-background-focus-color};
    --button-background-hover-color: #{$button-background-hover-color};
    --button-background-success-color: #{$button-background-success-color};
    --button-image-background-color: #{$background-color};
    --button-padding-horizontal: 1rem;
    --button-padding-vertical: 0.5rem;
    --button-spacing: 0.5rem;
    --button-text-active-color: #{$button-text-active-color};
    --button-text-color: #{$button-text-color};
    --button-text-danger-color: #{$button-text-danger-color};
    --button-text-focus-color: #{$button-text-focus-color};
    --button-text-hover-color: #{$button-text-hover-color};
    --button-text-success-color: #{$button-text-success-color};

    --control-font-size: #{$font-size-6};
    --control-padding-horizontal: 0.675rem;
    --control-padding-vertical: 0.375rem;
    --control-radius: #{$radius};

    --delete-color: #{map-get($shade-palette, 100)};
    --delete-radius: #{$radius-rounded};

    --input-background-color: #{$background-form-color};
    --input-dropdown-arrow-color: #{$foreground-form-color};
    --input-padding: 0.625rem;
    --input-placeholder-text-color: #{rgba($foreground-form-color, 0.75)};
    --input-shadow: inset 0 0.0625rem 0.125rem #{rgba($background-form-color, 0.15)};
    --input-text-color: #{$foreground-form-color};

    --loader-color: #{map-get($shade-palette, 300)};
    --loader-radius: #{$radius-rounded};

    // Elements
    --container-offset: #{$gap * 2};

    --form-field-block-spacing: 0.5rem;
    --form-label-block-spacing: 0.5rem;
    --form-label-font-weight: #{$font-weight-bold};

    --icon-color: #{map-get($shade-palette, 100)};
    --icon-dimensions: 1.5rem;
    --icon-padding: 0.25rem;
    --icon-raduis: #{$radius};

    --section-gap: #{$gap};

    --subtitle-font-family: #{$font-family};
    --subtitle-font-size: #{$font-size-5};
    --subtitle-font-weight: #{$font-weight-semibold};
    --subtitle-line-height: #{$font-size-5};
    --subtitle-negative-margin: -1.25rem;
    --subtitle-text-color: #{$foreground-alternative-color};

    --title-font-family: #{$font-family};
    --title-font-size: #{$font-size-3};
    --title-font-weight: #{$font-weight-semibold};
    --title-line-height: #{$font-size-3};
    --title-negative-margin: 0.25rem;
    --title-text-color: #{$foreground-alternative-color};

    // Components
    --column-gap: 0.75rem;

    --member-width: 15rem;
    --member-nameplate-background-color: #{rgba($background-color, 0.75)};
    --member-nameplate-height: 3.5rem;
    --member-nameplate-icon-dimensions: 2rem;
    --member-nameplate-item-background-color: #{rgba($background-color, 0.75)};
    --member-nameplate-item-font-size: #{$font-size-7};
    --member-nameplate-item-padding: 0.25rem 0.5rem;
    --member-nameplate-item-radius: #{$radius};
    --member-nameplate-item-spacing: 0.5rem;
    --member-nameplate-item-text-color: #{$foreground-color};
    --member-nameplate-padding: 0.75rem 1.25rem;
    --member-radius: #{$radius};

    --modal-background-background-color: #{rgba($background-color, 0.75)};
    --modal-close-background-active-color: #{rgba($foreground-color, 0.75)};
    --modal-close-background-color: #{rgba($foreground-color, 0.25)};
    --modal-close-background-hover-color: #{rgba($foreground-color, 0.5)};
    --modal-close-dimensions: 2.5rem;
    --modal-close-offset: 1.25rem;
    --modal-content-margin: 0 1.25rem;
    --modal-content-spacing: 2.5rem;
    --modal-content-width: 40rem;
    --modal-z-index: 50;

    --nav-dropdown-arrow-color: #{$link-color};
    --nav-dropdown-arrow-hover-color: #{$link-hover-color};
    --nav-dropdown-background-color: #{$background-color};
    --nav-dropdown-item-hover-background-color: #{$background-alternative-color};
    --nav-dropdown-radius: #{$radius};
    --nav-dropdown-z: 100;
    --nav-min-height: 3.25rem;
    --nav-text-color: #{$link-color};
    --nav-text-hover-color: #{$link-hover-color};

    // Layouts
    --footer-background-color: #{$background-alternative-color};

    --form-modal-content-background-color: #{$foreground-color};
    --form-modal-content-border-radius: #{$radius};
    --form-modal-content-padding: 1.5rem;
    --form-modal-content-text-color: #{$background-color};

    --header-background-color: #{$background-color};

    --home-section-linear-gradient: #{$background-color} 0%, rgba(0, 0, 0, 0.75) 40%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 60%;
    --home-section-radial-gradient: #{$background-color} 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%;

    --list-item-radius: #{$radius};
    --list-title-background-color: #{rgba($background-color, 0.75)};
    --list-title-font-size: #{$font-size-6};
    --list-title-padding: 0.5rem 1.25rem;

    --page-background-color: #{rgba($background-color, 0.85)};
    --page-background-z-index: -5;
    --page-body-padding: 2rem;
    --page-foot-padding: 0;
    --page-head-icon-dimensions: 15rem;
    --page-head-padding: 2rem 0.5rem;
    --page-head-subtitle-font-size: #{$font-size-3};
    --page-head-subtitle-font-weight: #{$font-weight-bold};
    --page-head-subtitle-line-height: #{$font-size-3};
    --page-head-subtitle-negative-margin: -1rem;
    --page-head-subtitle-text-color: #{$foreground-color};
    --page-head-title-font-size: #{$font-size-1};
    --page-head-title-font-weight: #{$font-weight-bold};
    --page-head-title-line-height: #{$font-size-1};
    --page-head-title-negative-margin: -1.75rem;
    --page-head-title-text-color: #{$foreground-color};
    --page-overlay-z-index: -3;
    --page-radius: #{$radius};
}
